<div class="row" flex-column="16" flex-gutter="24" flex-container="row"
     ng-init="updateMenu()">
    <div class="p+" flex-item="2">
    </div>
    <div class="p+" flex-item="12">

        <lx-tabs class=" bgc-grey-100" lx-theme="dark" lx-color="blue" lx-indicator="orange">
        <lx-tab lx-icon="content-save" lx-label="Add">
            <form name="AddGrpSForm" novalidate>
                <!--{{user.user_id}}-->

                <!--{{paymethod}}-->
                <div class="p+" flex-container="row" >
                    <div flex-item="12">
                        <div class="card" >
                            <div class="p+">
                                <strong class="fs-headline display-block">Nuevo grupo de servicios</strong>
                                <!--1{{fgrpserv}}2{{fgrpserv}}-->
                                <div class="paragraph fs-body-1 mt+">
                                    <div class="p+ pt0">
                                        <div flex-container="row">
                                            <div class="p+" flex-item="2">
                                            </div>
                                            <div flex-item="8">
                                                <lx-text-field
                                                        lx-label="Codigo del Grupo de Sevicios"
                                                        lx-valid="AddGrpSForm.groupcode.$valid"
                                                        lx-error="AddGrpSForm.groupcode.$invalid && AddGrpSForm.groupcode.$touched">
                                                    <input type="text" name="groupcode" ng-required="true"
                                                           ng-model="fgrpserv.groupcode" ng-minlength="3" ng-maxlength="3"/>
                                                </lx-text-field>
                                                <div ng-messages="AddGrpSForm.groupcode.$error"
                                                     ng-if="AddGrpSForm.groupcode.$touched"
                                                     style="color:maroon"
                                                     role="alert">
                                                    <div ng-message="required">Introduce el Nombre del Grupo de Sevicios</div>
                                                    <div ng-message="minlength">Introduce los 3 digitos del codigo del grupo</div>
                                                    <div ng-message="maxlength">Introduce los 3 digitos del codigo del grupo</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div flex-container="row">
                                            <div class="p+" flex-item="2">
                                            </div>
                                            <div flex-item="8">
                                                <lx-text-field
                                                        lx-label="Nombre del Grupo de Sevicios"
                                                        lx-valid="AddGrpSForm.description.$valid"
                                                        lx-error="AddGrpSForm.description.$invalid && AddGrpSForm.description.$touched">
                                                    <input type="text" name="description" ng-required="true"
                                                           ng-model="fgrpserv.description" />
                                                </lx-text-field>
                                                <div ng-messages="AddGrpSForm.description.$error"
                                                     ng-if="AddGrpSForm.description.$touched"
                                                     style="color:maroon"
                                                     role="alert">
                                                    <div ng-message="required">Introduce el Nombre del Grupo de Sevicios</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div flex-container="row">
                                            <div class="p+" flex-item="2">
                                            </div>
                                            <div flex-item="8">
                                                <lx-text-field
                                                        lx-label="Descripción del Grupo de Sevicios"
                                                        lx-valid="AddGrpSForm.detailsdesc.$valid"
                                                        lx-error="AddGrpSForm.detailsdesc.$invalid && AddGrpSForm.detailsdesc.$touched">
                                            <textarea type="text" name="detailsdesc" ng-required="true"
                                                      ng-model="fgrpserv.detailsdesc" ></textarea>
                                                </lx-text-field>
                                                <div ng-messages="AddGrpSForm.detailsdesc.$error"
                                                     ng-if="AddGrpSForm.detailsdesc.$touched"
                                                     style="color:maroon"
                                                     role="alert">
                                                    <div ng-message="required">Introduce el Nombre del Grupo de Sevicios</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="position: relative;">
                    <lx-progress lx-type="linear" lx-color="teal"
                                 ng-if="LinearProgress">
                    </lx-progress>
                </div>
                <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">
                    <lx-button lx-color="red"
                               ng-click="reset()"
                    >Limpiar</lx-button>
                    <lx-button lx-color="green"
                               ng-click="addGrpServ($event, fgrpserv)"
                               ng-disabled="sendbutton || AddGrpSForm.$invalid">
                        Guardar</lx-button>
                </div>
            </form>
        </lx-tab>

        <lx-tab lx-icon="stackoverflow" lx-label="Manage">

            <div class="data-table-container">
                <header class="data-table-header">
                    <div class="data-table-header__label">
                        <span class="fs-title">Grupo de Servicios</span>
                    </div>
                </header>

                <table class="data-table">
                    <thead>
                        <tr class="">
                            <th flex-item="2" class="data-table__sortable-cell data-table__sortable-cell--desc">Codigo</th>
                            <th flex-item="6">Nombre</th>
                            <th flex-item="2" >Edit</th>
                            <th flex-item="2" >Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gs in listGS" class=" ">
                            <td flex-item="2">{{gs.groupcode}}</td>
                            <td flex-item="6">{{gs.description}}</td>
                            <td flex-item="2">
                                <lx-icon ng-click="openDialogGrpServ(gs)" lx-id="lead-pencil" lx-size="m" lx-color="blue" lx-type="circled"></lx-icon>
                            </td>
                            <td flex-item="2">
                                <lx-icon ng-click="deleteGrpServ(gs)" lx-id="delete" lx-size="m" lx-color="red" lx-type="circled"></lx-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <lx-dialog id="{{ dialogGrpServ }}">
                <lx-dialog-header>
                    <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                Grupo de Servicios
            </span>

                    </div>
                </lx-dialog-header>

                <lx-dialog-content>
                    <form name="editFormGS" novalidate>
                        <!--{{user.user_id}}-->
                        {{editFieldsGS}}
                        <!--{{paymethod}}-->
                        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
                            <div class="p+" flex-item="2">
                            </div>
                            <div flex-item="12">
                                <div class="card" >
                                    <div class="p+">
                                        <strong class="fs-headline display-block">Editar Grupo de Servicios</strong>
                                        <div class="paragraph fs-body-1 mt+" >
                                            <div class="p+ pt0">
                                                <div flex-container="row">
                                                    <div class="p+" flex-item="2">
                                                    </div>
                                                    <div flex-item="8">
                                                        <lx-text-field
                                                                lx-label="Codigo del Grupo de Sevicios"
                                                                lx-valid="editFormGS.groupcode.$valid"
                                                                lx-error="editFormGS.groupcode.$invalid && editFormGS.groupcode.$touched">
                                                            <input type="text" name="groupcode"
                                                                   ng-required="true"
                                                                   ng-model="editFieldsGS.groupcode"
                                                                   ng-disabled="true"
                                                                   ng-minlength="3" ng-maxlength="3"/>

                                                        </lx-text-field>
                                                        <div ng-messages="editFormGS.groupcode.$error"
                                                             ng-if="editFormGS.groupcode.$touched"
                                                             style="color:maroon"
                                                             role="alert">
                                                            <div ng-message="required">Introduce el Nombre del Grupo de Sevicios</div>
                                                            <div ng-message="minlength">Introduce los 3 digitos del codigo del grupo</div>
                                                            <div ng-message="maxlength">Introduce los 3 digitos del codigo del grupo</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div flex-container="row">
                                                    <div class="p+" flex-item="2">
                                                    </div>
                                                    <div flex-item="8">
                                                        <lx-text-field
                                                                lx-label="Nombre del Grupo de Sevicios"
                                                                lx-valid="editFormGS.description.$valid"
                                                                lx-error="editFormGS.description.$invalid && editFormGS.description.$touched">
                                                            <input type="text" name="name" ng-required="true"
                                                                   ng-model="editFieldsGS.description" />
                                                        </lx-text-field>
                                                        <div ng-messages="editFormGS.description.$error"
                                                             ng-if="editFormGS.description.$touched"
                                                             style="color:maroon"
                                                             role="alert">
                                                            <div ng-message="required">Introduce el Nombre del Grupo de Sevicios</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div flex-container="row">
                                                    <div class="p+" flex-item="2">
                                                    </div>
                                                    <div flex-item="8">
                                                        <lx-text-field
                                                                lx-label="Descripción del Grupo de Sevicios"
                                                                lx-valid="editFormGS.detailsdesc.$valid"
                                                                lx-error="editFormGS.detailsdesc.$invalid && editFormGS.detailsdesc.$touched">
                                                                <textarea type="text" name="detailsdesc" ng-required="true"
                                                                ng-model="editFieldsGS.detailsdesc" ></textarea>
                                                        </lx-text-field>
                                                        <div ng-messages="editFormGS.detailsdesc.$error"
                                                             ng-if="editFormGS.detailsdesc.$touched"
                                                             style="color:maroon"
                                                             role="alert">
                                                            <div ng-message="required">Introduce el Nombre del Grupo de Sevicios</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="position: relative;">
                            <lx-progress lx-type="linear" lx-color="teal"
                                         ng-if="LinearProgress">
                            </lx-progress>
                        </div>
                        <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">
                            <lx-button lx-color="red"
                                       ng-click="editReset(editFieldsGS.id, editFieldsGS.groupcode)"
                            >Limpiar</lx-button>
                            <lx-button lx-color="green"
                                       ng-click="updateGrpServ($event, editFieldsGS)"
                                       ng-disabled="sendbutton || editFormGS.$invalid">
                                Actualizar</lx-button>
                        </div>
                    </form>

                </lx-dialog-content>

                <lx-dialog-footer>
                    <lx-button lx-color="black" lx-type="flat" lx-dialog-close>Cerrar</lx-button>
                </lx-dialog-footer>
            </lx-dialog>

        </lx-tab>

    </lx-tabs>

    </div>

</div>

