<div class="row" ng-init="updateMenu()">
    <form name="SignupForm" novalidate>
        <!--1{{fsingup}} 2{{master}}-->
        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
            <div flex-item="4"></div>
            <div flex-item="8">
                <div class="card" >
                    <div class="card__img card__img--top bgc-jd">
                        <img ng-src="{{signupFormImg}}" width="100%" class="">
                        <span class="fs-headline tc-white-1 display-block jd_headline" >{{'singup.card1.title' | translate}} </span>
                    </div>
                    <div class="p+">
                        <strong class="fs-headline display-block">{{'singup.card1.subtitle' | translate}}</strong>

                        <div class="paragraph fs-body-1 mt+">


                            <div class="p+ pt0">
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field lx-label="{{'singup.form1.f1' | translate}}"
                                           lx-valid="SignupForm.name.$valid "
                                           lx-error="SignupForm.name.$invalid && SignupForm.name.$touched">
                                            <input type="text" name="name" ng-model="fsingup.name"
                                                   ng-required="true">
                                        </lx-text-field>
                                        <div ng-messages="SignupForm.name.$error"
                                             ng-if="SignupForm.name.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'singup.form1.f1error.e1' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field lx-label="{{'singup.form1.f2' | translate}}"
                                                       lx-valid="SignupForm.lastname.$valid"
                                                       lx-error="SignupForm.lastname.$invalid && SignupForm.lastname.$touched">
                                            <input type="text" name="lastname" ng-model="fsingup.lastname"
                                                   ng-required="true">
                                        </lx-text-field>
                                        <div ng-messages="SignupForm.lastname.$error"
                                             ng-if="SignupForm.lastname.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'singup.form1.f2error.e1' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field lx-label="{{'singup.form1.f3' | translate}}"
                                                       lx-valid="SignupForm.email.$valid && emailExistance"
                                                       lx-error="SignupForm.email.$invalid && SignupForm.email.$touched">

                                            <input type="email" name="email"
                                                   ng-model="fsingup.email"
                                                   ng-required="true" />
                                        </lx-text-field>
                                        <div ng-messages="SignupForm.email.$error"
                                             ng-if="SignupForm.email.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'singup.form1.f3error.e1' | translate}}</div>
                                            <div ng-message="email">{{'singup.form1.f3error.e2' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field lx-label="{{'singup.form1.f4' | translate}}"
                                                       lx-valid="SignupForm.pass.$valid"
                                                       lx-error="SignupForm.pass.$invalid && SignupForm.pass.$touched">
                                            <input type="password" name="pass" ng-model="fsingup.password"
                                                   ng-required="true" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
                                        </lx-text-field>
                                        <div ng-messages="SignupForm.pass.$error"
                                             ng-if="SignupForm.pass.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'singup.form1.f4error.e1' | translate}}</div>

                                            <div ng-message="pattern">
                                                <ul>
                                                    <li>{{'singup.form1.f4error.e2' | translate}}</li>
                                                    <li>{{'singup.form1.f4error.e3' | translate}}</li>
                                                    <li>{{'singup.form1.f4error.e4' | translate}}</li>
                                                    <li>{{'singup.form1.f4error.e5' | translate}}</li>
                                                    <li>{{'singup.form1.f4error.e6' | translate}} $@$!%*#?&</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field lx-label="{{'singup.form1.f5' | translate}}"
                                                       lx-valid="SignupForm.chkpass.$valid"
                                                       lx-error="SignupForm.chkpass.$invalid && SignupForm.chkpass.$touched">
                                            <input type="password" name="chkpass" ng-model="fsingup.chkpass"
                                                   ng-required="true" compare-to="fsingup.password"/>
                                        </lx-text-field>
                                        <div ng-messages="SignupForm.chkpass.$error"
                                             ng-if="SignupForm.chkpass.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'singup.form1.f5error.e1' | translate}}</div>
                                            <div ng-message="compareTo">{{'singup.form1.f5error.e2' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row" flex-item="8">
                                    <span class="fs-title display-block">
                                    <a href="#"
                                       onclick="window.open('../css/docs/TerminosyCondiciones.pdf', '_blank', 'fullscreen=yes'); return false;"
                                       target="_blank">
                                        {{'checkout.form1.f2' | translate}}:
                                    </a>
                                        <lx-checkbox
                                                ng-model="fsingup.terms"
                                                lx-color="blue"
                                                name="enabled"
                                                ng-true-value="true"
                                                ng-false-value="false">
                                                                                                        </lx-checkbox>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card__actions" flex-container="row" flex-column="16" flex-gutter="24">
                        <div class="p+" flex-item="5"></div>
                        <div class="p+" >
                            <div style="position: relative;">
                                <lx-progress lx-type="linear" lx-color="teal"
                                             ng-if="LinearProgress">
                                </lx-progress>
                            </div>
                            <lx-button lx-color="red"
                                       ng-click="reset()"
                            >{{'singup.form1.button1' | translate}}</lx-button>
                            <lx-button lx-color="green"
                                       ng-click="userCreate($event, fsingup)"
                                       ng-disabled="sendbutton || SignupForm.$invalid || !fsingup.terms"
                            >{{'singup.form1.button2' | translate}}</lx-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
