<div class="row" flex-column="16" flex-gutter="24" flex-container="row">

    <div class="p+" flex-item="16">
        <lx-tabs class=" bgc-grey-100" lx-theme="dark" lx-color="blue" lx-indicator="orange">
            <lx-tab lx-icon="content-save" lx-label="{{'adminPending.tabs.tab1' | translate}}">
                <div class="row" flex-column="16" flex-gutter="24" flex-container="row">

                    <div class="p+" flex-item="16">

                        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">

                            <div flex-item="16">
                                <div class="card" >
                                    <div class="card__img card__img--top bgc-jd">
                                        <img ng-src="{{icon}}" width="100px" class="p+">
                                        <p class="fs-headline tc-white-1 display-block" > {{ 'adminPending.card1.headline' | translate}}</p>
                                    </div>
                                    <div flex-item="4">
                                        <div class="card">
                                            <div class="toolbar">
                                                <lx-search-filter>
                                                    <input type="text" name="mysearch" ng-model="search.mysearch"
                                                           ng-model-options="{ debounce : 400 }" placeholder="{{ 'adminPending.datatable1.placeholder' | translate}}">
                                                </lx-search-filter>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="data-table-container">
                                        <header class="data-table-header">
                                            <div class="data-table-header__label">
                                                <span class="fs-title">{{ 'adminPending.datatable1.title' | translate}}</span>
                                            </div>
                                        </header>

                                        <table class="data-table">
                                            <thead>
                                            <tr class="">
                                                <th width="13.5%">{{ 'adminPending.datatable1.f1' | translate}}</th>
                                                <th width="12.5%">{{ 'adminPending.datatable1.f2' | translate}}</th>
                                                <th width="7.5%">{{ 'adminPending.datatable1.f3' | translate}}</th>
                                                <th width="7.5%">{{ 'adminPending.datatable1.f4' | translate}}</th>
                                                <th width="11.5%">{{ 'adminPending.datatable1.f5' | translate}}</th>
                                                <th width="5.5%">{{ 'adminPending.datatable1.f6' | translate}}</th>
                                                <th width="5.5%">{{ 'adminPending.datatable1.f7' | translate}}</th>
                                                <th width="5.5%">{{ 'adminPending.datatable1.f8' | translate}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="opened in listPaymentsDefered | filter:search.mysearch | orderBy:'servicerequest'  | limitTo: 20" class=" ">
                                                <td width="13.5%">{{opened.principalname}}</td>
                                                <td width="12.5%">{{opened.locationname}}</td>
                                                <td width="7.5%">{{opened.dcreate | dateFromDB : "YYYY-MM-DD"}}</td>
                                                <td width="7.5%">{{opened.dlanding | dateFromDB : "YYYY-MM-DD"}}</td>
                                                <td width="11.5%">{{opened.serialcode}}</td>
                                                <td width="5.5%">
                                                    <lx-icon ng-click="clearServiceRequest(opened)" lx-id="checkbox-marked-circle-outline" lx-size="m" lx-color="green" lx-type="circled"></lx-icon>
                                                </td>
                                                <td width="5.5%">
                                                    <lx-icon ng-click="openDialogprepareTicket(opened)" lx-id="lead-pencil" lx-size="m" lx-color="blue" lx-type="circled"></lx-icon>
                                                </td>
                                                <td width="5.5%">
                                                    <lx-icon ng-click="openDialogReverseTicket(opened)" lx-id="delete" lx-size="m" lx-color="red" lx-type="circled"></lx-icon>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </lx-tab>

            <lx-tab lx-icon="airplane" lx-label="{{'adminPending.tabs.tab2' | translate}}">
                <div class="row" flex-column="16" flex-gutter="24" flex-container="row">

                    <div class="p+" flex-item="16">

                        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">

                            <div flex-item="16">
                                <div class="card" >
                                    <div class="card__img card__img--top bgc-jd">
                                        <img ng-src="{{icon}}" width="100px" class="p+">
                                        <p class="fs-headline tc-white-1 display-block" > {{ 'adminPending.card2.headline' | translate}}</p>
                                    </div>
                                    <div flex-item="4">
                                        <div class="card">
                                            <div class="toolbar">
                                                <lx-search-filter>
                                                    <input type="text" name="mysearch" ng-model="search.mysearchClosed"
                                                           ng-model-options="{ debounce : 400 }" placeholder="{{ 'adminPending.datatable2.placeholder' | translate}}">
                                                </lx-search-filter>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="data-table-container">
                                        <header class="data-table-header">
                                            <div class="data-table-header__label">
                                                <span class="fs-title">{{ 'adminPending.datatable2.title' | translate}}</span>
                                            </div>
                                        </header>

                                        <table class="data-table">
                                            <thead>
                                            <tr class="">
                                                <th width="13.5%">{{ 'adminPending.datatable2.f1' | translate}}</th>
                                                <th width="12.5%">{{ 'adminPending.datatable2.f2' | translate}}</th>
                                                <th width="7.5%">{{ 'adminPending.datatable2.f3' | translate}}</th>
                                                <th width="7.5%">{{ 'adminPending.datatable2.f4' | translate}}</th>
                                                <th width="11.5%">{{ 'adminPending.datatable2.f5' | translate}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="closed in listPaymentsClosed | filter:search.mysearchClosed | orderBy:'servicerequest' | limitTo: 20" class=" ">
                                                <td width="13.5%">{{closed.principalname}}</td>
                                                <td width="12.5%">{{closed.locationname}}</td>
                                                <td width="7.5%">{{closed.dcreate | dateFromDB : "YYYY-MM-DD"}}</td>
                                                <td width="7.5%">{{closed.dlanding | dateFromDB : "YYYY-MM-DD"}}</td>
                                                <td width="11.5%">{{closed.serialcode}}</td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </lx-tab>

        </lx-tabs>
    </div>

</div>
<section ng-include="'/partials/dashboard/admin_pending/admin_pendingDialog.html'"></section>

<section ng-include="'/partials/dashboard/admin_pending/admin_deferedDialog.html'"></section>