<div class="row" flex-column="16" flex-gutter="24" flex-container="row"
     ng-init="updateMenu()">
    <div class="p+" flex-item="2">
    </div>
    <div class="p+" flex-item="12">

        <lx-tabs class=" bgc-grey-100" lx-theme="dark" lx-color="blue" lx-indicator="orange">
            <lx-tab lx-icon="content-save" lx-label="{{ 'captain.tabs.tab1' | translate}}">

                <form name="MyCaptainForm" novalidate>
                    <!--1{{fmycaptain}} 2{{master}}-->
                    <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
                        <div flex-item="16">
                            <div class="card" >
                                <div class="card__img card__img--top bgc-jd">
                                    <img ng-src="{{icon}}" width="100px" class="p+">
                                    <p class="fs-headline tc-white-1 display-block" >{{ 'captain.card1.headline' | translate}} </p>
                                </div>
                                <div class="p+">
                                    <strong class="fs-headline display-block">{{ 'captain.card1.title' | translate}}</strong>

                                    <div class="paragraph fs-body-1 mt+">
                                        <div class="p+ pt0">
                                            <div flex-container="row">
                                                <div flex-item>
                                                    <lx-text-field lx-label="{{ 'captain.form1.f1' | translate}}"
                                                                   lx-valid="MyCaptainForm.name.$valid"
                                                                   lx-error="MyCaptainForm.name.$invalid && MyCaptainForm.name.$touched">
                                                        <input type="text" name="name" ng-model="fmycaptain.name"
                                                               ng-required="true">
                                                    </lx-text-field>
                                                    <div ng-messages="MyCaptainForm.name.$error"
                                                         ng-if="MyCaptainForm.name.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{ 'captain.form1.f1error.e1' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex-container="row">
                                                <div flex-item>
                                                    <lx-text-field lx-label="{{ 'captain.form1.f2' | translate}}"
                                                                   lx-valid="MyCaptainForm.license.$valid"
                                                                   lx-error="MyCaptainForm.license.$invalid && MyCaptainForm.license.$touched">
                                                        <input type="text" name="license" ng-model="fmycaptain.license"
                                                               ng-required="true">
                                                    </lx-text-field>
                                                    <div ng-messages="MyCaptainForm.license.$error"
                                                         ng-if="MyCaptainForm.license.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{ 'captain.form1.f2error.e1' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex-container="row">
                                                <div flex-item>
                                                    <lx-date-picker
                                                            id="{{datePickerId}}"
                                                            ng-model="fmycaptain.dateofbirth"
                                                            lx-input-format="YYYY-MM-DD"
                                                            lx-callback="datePickerCallback(newDate, 'add')"
                                                            lx-locale="{{fmycaptain.datePicker.locale}}"
                                                            >
                                                        <lx-text-field
                                                                lx-valid="PayMthdForm.dateofbirth.$valid"
                                                                lx-error="PayMthdForm.dateofbirth.$invalid && PayMthdForm.dateofbirth.$touched"
                                                                lx-allow-clear="true"
                                                                lx-label="{{ 'captain.form1.f3' | translate}}">
                                                            <input type="text" name="dateofbirth"
                                                                   ng-model="fmycaptain.datePicker.dateFormatted" ng-required="true">
                                                        </lx-text-field>
                                                    </lx-date-picker>
                                                    <div ng-messages="PayMthdForm.dateofbirth.$error"
                                                         ng-if="PayMthdForm.dateofbirth.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{ 'captain.form1.f3error.e1' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex-container="row">
                                                <div flex-item>
                                                    <lx-text-field lx-label="{{ 'captain.form1.f4' | translate}}"
                                                                   lx-valid="MyCaptainForm.address.$valid"
                                                                   lx-error="MyCaptainForm.address.$invalid && MyCaptainForm.address.$touched">
                                                        <input type="text" name="address" ng-model="fmycaptain.address"
                                                               ng-required="true">
                                                    </lx-text-field>
                                                    <div ng-messages="MyCaptainForm.address.$error"
                                                         ng-if="MyCaptainForm.address.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{ 'captain.form1.f4error.e1' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex-container="row">
                                                <div flex-item>
                                                    <lx-text-field lx-label="{{ 'captain.form1.f5' | translate}}"
                                                                   lx-valid="MyCaptainForm.country.$valid"
                                                                   lx-error="MyCaptainForm.country.$invalid && MyCaptainForm.country.$touched">
                                                        <input type="text" name="country" ng-model="fmycaptain.country"
                                                               ng-required="true">
                                                    </lx-text-field>
                                                    <div ng-messages="MyCaptainForm.country.$error"
                                                         ng-if="MyCaptainForm.country.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{ 'captain.form1.f5error.e1' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex-container="row">
                                                <div flex-item>
                                                    <lx-text-field lx-label="{{ 'captain.form1.f6' | translate}}"
                                                                   lx-valid="MyCaptainForm.city.$valid"
                                                                   lx-error="MyCaptainForm.city.$invalid && MyCaptainForm.city.$touched">
                                                        <input type="text" name="city" ng-model="fmycaptain.city"
                                                               ng-required="true">
                                                    </lx-text-field>
                                                    <div ng-messages="MyCaptainForm.city.$error"
                                                         ng-if="MyCaptainForm.city.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{ 'captain.form1.f6error.e1' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex-container="row">
                                                <div flex-item>
                                                    <lx-text-field lx-label="{{ 'captain.form1.f7' | translate}}"
                                                                   lx-valid="MyCaptainForm.phone.$valid"
                                                                   lx-error="MyCaptainForm.phone.$invalid && MyCaptainForm.phone.$touched">
                                                        <input type="text" name="phone" ng-model="fmycaptain.phone"
                                                               ng-required="true">
                                                    </lx-text-field>
                                                    <div ng-messages="MyCaptainForm.phone.$error"
                                                         ng-if="MyCaptainForm.phone.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{ 'captain.form1.f7error.e1' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex-container="row">
                                                <div flex-item>
                                                    <lx-text-field lx-label="{{ 'captain.form1.f8' | translate}}"
                                                                   lx-valid="MyCaptainForm.email.$valid"
                                                                   lx-error="MyCaptainForm.email.$invalid && MyCaptainForm.email.$touched">

                                                        <input type="email" name="email" ng-model="fmycaptain.email"
                                                               ng-required="true" />
                                                    </lx-text-field>
                                                    <div ng-messages="MyCaptainForm.email.$error"
                                                         ng-if="MyCaptainForm.email.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{ 'captain.form1.f8error.e1' | translate}}</div>
                                                        <div ng-message="email">{{ 'captain.form1.f8error.e2' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <span class="fs-title display-block">
                                                {{ 'captain.form1.f9' | translate}}:
                                                <lx-radio-group class="mt+">
                                                    <lx-radio-button
                                                            name="test2"
                                                            value="false"
                                                            ng-model="fmycaptain.active">
                                                        <lx-radio-button-label>{{ 'captain.form1.f9label1' | translate}}</lx-radio-button-label>
                                                    </lx-radio-button>

                                                    <lx-radio-button
                                                            name="test2"
                                                            value="true"
                                                            ng-model="fmycaptain.active">
                                                        <lx-radio-button-label>{{ 'captain.form1.f9label2' | translate}}</lx-radio-button-label>
                                                    </lx-radio-button>
                                                </lx-radio-group>
                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="card__actions" flex-container="row" flex-column="16" flex-gutter="24">
                                    <div class="p+" flex-item="5"></div>
                                    <div class="p+">
                                        <div style="position: relative;">
                                            <lx-progress lx-type="linear" lx-color="teal"
                                                         ng-if="LinearProgress">
                                            </lx-progress>
                                        </div>
                                        <lx-button lx-color="red"
                                                   ng-click="reset()"
                                        >{{ 'captain.form1.button1' | translate}}</lx-button>
                                        <lx-button lx-color="green"
                                                   ng-click="myCaptainCreate($event, fmycaptain)"
                                                   ng-disabled="sendbutton || MyCaptainForm.$invalid"
                                        >{{ 'captain.form1.button2' | translate}}</lx-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </lx-tab>

            <lx-tab lx-icon="airplane" lx-label="{{ 'captain.tabs.tab2' | translate}}">

                <!-- DATATABLE TAB -->

                <section ng-include="'/partials/dashboard/captain/datatableCaptain.html'"></section>

                <!-- EDIT DIALOG -->

                <section ng-include="'/partials/dashboard/captain/editdialogCaptain.html'"></section>

            </lx-tab>

        </lx-tabs>

    </div>

</div>

