<div class="row" id="tabPrice" ng-init="getproductOpts(); updateMenu()">

    <form name="CartForm">
        <!--{{user.user_id}}
        {{vm.fcart}}
        {{paymethod}}-->
        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">

            <!--TOOLBAR-->


            <div class="toolbar">

                <span class="toolbar__label fs-title">A donde viajara?</span>

                <div class="toolbar__right">
                    <lx-search-filter lx-closed="true">
                        <input type="text" ng-model="vm.toolbar">
                    </lx-search-filter>

                    <lx-dropdown lx-position="right" lx-over-toggle="true">
                        <lx-dropdown-toggle>
                            <lx-button lx-size="l" lx-color="black"
                                       lx-type="icon"><i class="mdi mdi-dots-vertical"></i></lx-button>
                        </lx-dropdown-toggle>

                        <lx-dropdown-menu>
                            <ul>
                                <li><a class="dropdown-link">Action</a></li>
                                <li><a class="dropdown-link">Another action</a></li>
                                <li><a class="dropdown-link">Something else here</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                                <li><a class="dropdown-link">Separated link</a></li>
                            </ul>
                        </lx-dropdown-menu>
                    </lx-dropdown>
                </div>
            </div>

            <!--TOOLBAR-->

            <!--PRODUCT DATATABLE-->

            <div flex-item="10">
                <div class="card" >
                    <div class="p+">
                        <strong class="fs-headline display-block">Nuevo Producto</strong>
                        <!--1{{productOpts}}
                        2{{vm.productOpts}}-->
                        <div class="paragraph fs-body-1 mt+">
                            <div class="p+ pt0">

                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-select
                                                name="productid"
                                                ng-model="vm.fcart.productid"
                                                lx-allow-clear="true"
                                                lx-choices="productOpts"
                                                lx-fixed-label="true"
                                                lx-valid="CartForm.productid.$valid"
                                                lx-error="CartForm.productid.$invalid && CartForm.product_d.$touched"
                                                ng-required="true"
                                                ng-change="productInfo(vm.fcart.productid)"
                                                lx-label="Producto">
                                            <lx-select-selected>
                                                {{ $selected.description }}
                                            </lx-select-selected>

                                            <lx-select-choices>
                                                {{ $choice.description }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-messages="CartForm.productid.$error"
                                             ng-if="CartForm.productid.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">Escoge un Producto</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <!--{{vm.fcart.cant * vm.fcart.productid.prices.price}}
                                    price:{{vm.fcart.productid.prices.price}}
                                    pPrice_{{pPrice}}
                                    vm.pPrice_{{vm.pPrice}}-->
                                    <div flex-item>
                                        <lx-text-field
                                                lx-label="Cantidad "
                                                lx-valid="CartForm.cant.$valid"
                                                lx-error="CartForm.cant.$invalid && CartForm.cant.$touched">
                                            <input type="text" name="cant" ng-required="true"
                                                   ng-model="vm.fcart.cant" ng-minlength="1" ng-change="{{vm.fcart.price = vm.fcart.cant * pPrice}}"/>
                                        </lx-text-field>
                                        <div ng-messages="CartForm.cant.$error"
                                             ng-if="CartForm.cant.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">Introduce el Monto</div>
                                            <div ng-message="minlength">Introduce un monto mayor a 0</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div class="p+ pt0">
                                        <lx-date-picker ng-model="vm.fcart.efectivedate"
                                                        lx-input-format="YYYY-MM-DD"
                                                        lx-valid="CartForm.efectivedate.$valid"
                                                        lx-error="CartForm.efectivedate.$invalid && CartForm.efectivedate.$touched">
                                            <lx-text-field lx-allow-clear="true" lx-label="Creation date">
                                                <input type="text" name="efectivedate"
                                                       ng-model="vm.fcart.efectivedate" ng-required="true" />
                                            </lx-text-field>
                                        </lx-date-picker>
                                        <div ng-messages="CartForm.efectivedate.$error"
                                             ng-if="CartForm.efectivedate.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">No Olvides de colocar la Fecha de Expiracion</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field
                                                lx-label="Precio"
                                                lx-valid="CartForm.price.$valid"
                                                lx-error="CartForm.price.$invalid && CartForm.price.$touched">
                                            <input type="text" name="price" ng-required="true"
                                                   ng-model="vm.fcart.price" ng-minlength="1" ui-number-mask />
                                        </lx-text-field>
                                        <div ng-messages="CartForm.price.$error"
                                             ng-if="CartForm.price.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">Introduce el Monto</div>
                                            <div ng-message="minlength">Introduce un monto mayor a 0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUCT DATATABLE-->

        </div>
        <div  style="position: relative;">
            <lx-progress lx-type="linear" lx-color="teal"
                         ng-if="LinearProgress">
            </lx-progress>
        </div>
        <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">
            <lx-button lx-color="green"
                       ng-click="addCart($event, vm.fcart, user.user_id)"
                       ng-disabled="sendbutton || CartForm.$invalid">
                Agregar al carro</lx-button>
        </div>
    </form>

</div>