<!--{id:15, name:"Vacaciones a la Habana", location:1888, amount:0, aviationtype:1, dcreate:1476676800000, dupdate:1476676800000, dlanding:1476072000000, myaircraft:14, items:[{id:21, pricetype:"P", pricename:"OVERFLIGHT <= 500 KM", pricedesc:"MTOW KG", product:0, quantity:2, unitprice:0, totalprice:0}, {id:22, pricetype:"U", pricename:"GPU", pricedesc:"FIXED", product:0, quantity:2, unitprice:0, totalprice:0}], $$hashKey:"object:244"}-->
<lx-dialog id="{{ checkoutDialogId }}">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                {{sCart.name}}
            </span>

            <div class="toolbar__right">
                <lx-button lx-size="l" lx-color="white" lx-type="icon" lx-dialog-close>
                    <i class="mdi mdi-close"></i>
                </lx-button>
            </div>
        </div>

    </lx-dialog-header>

    <lx-dialog-content>


        <div class="p+">
            <div class="card">
                <div class="p+">
                    <strong class="fs-headline display-block">{{'checkout.card1.headline' | translate}}</strong>
                    <div class="paragraph fs-body-1 mt+">
                        <div class="divider divider--dark"></div>

                        <ul class="list mt++" ng-show="sCart.items">
                            <li class="list-row " ng-repeat=" item in sCart.items">
                                <div class="list-row__content">
                                    <span class="display-block">
                                        {{item.pricename}}
                                    </span>
                                    <span class="display-block fs-body-1 tc-black-2">
                                        {{item.pricedesc}} - subtotal: {{item.totalprice | currency:"USD$"}}
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="divider divider--dark"></div>
                                TOTAL: {{ total | currency:"USD$"}}
                            </li>
                        </ul>

                        <form name="checkOutForm" novalidate>
                            <!--user id: {{user.id}}
                            {{fcheckout}}-->
                            <!--{{jdcardOpts}}-->
                            <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
                                <div flex-item="16">
                                    <div class="card">
                                        <div class="p+">
                                            <strong class="fs-headline display-block">{{'checkout.card1.sms1' | translate}} J&amp;D Card</strong>
                                            <!--1{{paymethod}} 2{{paymethod}}-->
                                            <div class="paragraph fs-body-1 mt+">
                                                <div class="p+ pt0">
                                                    <div flex-container="row">
                                                        <div flex-item>
                                                            <lx-select
                                                                    name="jdcard"
                                                                    ng-model="fcheckout.jdcard"
                                                                    lx-allow-clear="true"
                                                                    lx-choices="jdcardOpts"
                                                                    lx-fixed-label="true"
                                                                    lx-valid="checkOutForm.jdcard.$valid"
                                                                    lx-error="checkOutForm.jdcard.$invalid && checkOutForm.jdcard.$touched"
                                                                    ng-required="true"
                                                                    lx-label="{{'checkout.form1.f1' | translate}} J&amp;D Card">
                                                                <lx-select-selected>
                                                                    {{ $selected.payacctnum | tdcmask}} - {{ $selected.paycardname }}
                                                                </lx-select-selected>

                                                                <lx-select-choices>
                                                                    {{ $choice.payacctnum | tdcmask}} - {{ $choice.paycardname }} - {{ $choice.payavailable | currency:"USD$"  }}
                                                                </lx-select-choices>
                                                            </lx-select>
                                                            <div ng-messages="checkOutForm.jdcard.$error"
                                                                 ng-if="checkOutForm.jdcard.$touched"
                                                                 style="color:maroon"
                                                                 role="alert">
                                                                <div ng-message="required">{{'checkout.form1.f1error.e1' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>




    </lx-dialog-content>

    <lx-dialog-footer>

        <div style="position: relative;">
            <lx-progress lx-type="linear" lx-color="teal"
                         ng-if="LinearProgress">
            </lx-progress>
        </div>
        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
            <div flex-container="row">
                <div flex-item="8">
                    <span class=" display-block">
                        <a href="#"
                           onclick="window.open('../css/docs/TerminosyCondiciones.pdf', '_blank', 'fullscreen=yes'); return false;"
                           target="_blank">
                            {{'checkout.form1.f2' | translate}}:
                        </a>
                        <lx-checkbox
                                ng-model="fcheckout.terms"
                                lx-color="blue"
                                name="enabled"
                                ng-true-value="true"
                                ng-false-value="false">
                        </lx-checkbox>
                    </span>
                </div>
                <div flex-item="5">
                    <lx-button lx-color="black" lx-type="flat" ng-click="reset()"
                               lx-dialog-close>{{'checkout.button1' | translate}}</lx-button>
                    <lx-button lx-type="raised"lx-color="green"
                               ng-click="checkoutShopCart($event, fcheckout)"
                               ng-disabled="sendbutton || checkOutForm.$invalid || !fcheckout.terms">
                        {{'checkout.button2' | translate}}</lx-button>
                </div>
            </div>

        </div>


    </lx-dialog-footer>
</lx-dialog>