<!-------------------------->
<!-- START - DATA TABLE -->
<!-------------------------->
<div class="card" flex-item="16">
    <div class="p+">
        <div class="data-table-container">
        <header class="data-table-header">
            <div class="data-table-header__label">
                <span class="fs-title">Products</span>
            </div>
        </header>

        <table class="data-table">
            <thead>
            <tr class="">
                <th class="data-table__sortable-cell data-table__sortable-cell--desc">Products</th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th  ></th>
                <th  ></th>
            </tr>
            </thead>
            <tbody>
            <tbody >
        <!--<tbody ng-repeat="price in listPrices track by $index">-->

                <tr  class=" ">
                    <td coldspan="5"> Product </td>

                    <td >
                        <lx-icon ng-click="toggleHiddenForm(product.id)" lx-id="add" lx-size="m" lx-color="blue" lx-type="circled"></lx-icon>
                    </td>
                    <td >
                        <lx-icon ng-click="clearProduct(product)" lx-id="close" lx-size="m" lx-color="red" lx-type="circled"></lx-icon>
                    </td>
                </tr>
                1){{vm.toggleRow}} == {{product.id}}
                2){{vm.toggleRow == product.id}}
                <tr ng-show="toggleRow == product.id">

                    <td colspan="7">
                    <!-- inner table form -->

                        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
                            <div flex-item="16">
                                <div class="card" >
                                    <div class="p+">
                                        <!--{{user.user_id}}
                                        1{{pfields}}
                                        2{{vm.productId}}
                                        3{{productId}}
                                        {{paymethod}}-->
                                        <lx-icon lx-id="android" ng-click="toggleHiddenForm(0)"
                                                 lx-size="l" lx-color="red" lx-type="circled">
                                        </lx-icon>
                                        <div class="paragraph fs-body-1 mt+" >
                                            <div class="p+ pt0">
                                                <div flex-container="row">
                                                    <!--{{vm.fcart.cant * vm.fcart.productid.prices.price}}
                                                    price:{{vm.fcart.productid.prices.price}}
                                                    pPrice_{{pPrice}}
                                                    vm.pPrice_{{vm.pPrice}}-->
                                                    <div flex-item="4">
                                                        <lx-text-field
                                                                lx-label="Amount"
                                                                lx-valid="editItemCartForm.cant.$valid"
                                                                lx-error="editItemCartForm.cant.$invalid && editItemCartForm.cant.$touched">
                                                            <input type="text" name="cant" ng-required="true"
                                                                   ng-model="vm.fcart.cant" ng-minlength="1" ng-change="{{vm.fcart.price = vm.fcart.cant * pPrice}}"/>
                                                        </lx-text-field>
                                                        <div ng-messages="editItemCartForm.cant.$error"
                                                             ng-if="editItemCartForm.cant.$touched"
                                                             style="color:maroon"
                                                             role="alert">
                                                            <div ng-message="minlength">The amount must be greater than 0</div>
                                                        </div>
                                                    </div>

                                                    <div flex-item="4">
                                                        <lx-text-field
                                                                lx-label="Price"
                                                                lx-valid="editItemCartForm.price.$valid"
                                                                lx-error="editItemCartForm.price.$invalid && editItemCartForm.price.$touched">
                                                            <input type="text" name="price" ng-required="true"
                                                                   ng-model="vm.fcart.price" ng-minlength="1" ui-number-mask />
                                                        </lx-text-field>
                                                        <div ng-messages="editItemCartForm.price.$error"
                                                             ng-if="editItemCartForm.price.$touched"
                                                             style="color:maroon"
                                                             role="alert">
                                                            <div ng-message="required">Enter an amount</div>
                                                            <div ng-message="minlength">The amount must be greater than 0</div>
                                                        </div>
                                                    </div>

                                                    <div class="tc-white-1 p+" flex-align="space-between right" flex-item="3">
                                                        <lx-button lx-color="green"
                                                                   ng-click="addCart($event, vm.fcart, user.user_id)"
                                                                   ng-disabled="">
                                                            Add to ShopCart</lx-button>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                        <!--1{{vm.productId}}2{{productId}}
                                        1{{sendbutton2 +" or "+ editItemCartForm.$invalid}}-->
                                        <div style="position: relative;">
                                            <lx-progress lx-type="linear" lx-color="teal"
                                                         ng-if="updateLinearProgress2">
                                            </lx-progress>
                                        </div>
                                        <div class="tc-white-1 p+"
                                             flex-container="column"
                                             flex-align="space-between center">

                                            <lx-button lx-color="green"
                                            ng-click="editItemCartForm.$commitViewValue(); updatePrice($event, price)" >
                                                Update ShopCart</lx-button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    <!-- inner table form -->
                    </td>
                </tr>
            </tbody>

            </tbody>
        </table>
        </div>
    </div>
</div>
