<!--{id:15, name:"Vacaciones a la Habana", location:1888, amount:0, aviationtype:1, dcreate:1476676800000, dupdate:1476676800000, dlanding:1476072000000, myaircraft:14, items:[{id:21, pricetype:"P", pricename:"OVERFLIGHT <= 500 KM", pricedesc:"MTOW KG", product:0, quantity:2, unitprice:0, totalprice:0}, {id:22, pricetype:"U", pricename:"GPU", pricedesc:"FIXED", product:0, quantity:2, unitprice:0, totalprice:0}], $$hashKey:"object:244"}-->
<lx-dialog id="{{ shopCartDialogId }}">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                {{sCart.name}}
            </span>

            <div class="toolbar__right">
                <lx-button lx-size="l" lx-color="white" lx-type="icon" lx-dialog-close>
                    <i class="mdi mdi-close"></i>
                </lx-button>
            </div>
        </div>

    </lx-dialog-header>

    <lx-dialog-content>

        <div class="p+">
            <div class="card">
                <div class="p+">
                    <strong class="fs-headline display-block">Items</strong>

                    <div class="paragraph fs-body-1 mt+">
                        <div class="divider divider--dark"></div>

                        <ul class="list mt++" ng-show="sCart.items">
                            <li class="list-row " ng-repeat=" item in sCart.items">
                                <div class="list-row__content">
                    <span class="display-block">
                        {{item.pricename}}
                    </span>
                                    <span class="display-block fs-body-1 tc-black-2">
                        {{item.pricedesc}} - subtotal: {{item.totalprice}}
                    </span>
                                </div>
                                <div class="list-row__secondary">
                                    <!--<lx-icon ng-click="deleteItem(sCart.id, item.id)" lx-id="delete-forever" lx-size="xs" lx-color="red" lx-type="flat"></lx-icon>-->
                                </div>
                            </li>
                        </ul>

                        <p>
                            TOTAL: {{ total }}
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </lx-dialog-content>

    <lx-dialog-footer>
        <lx-button lx-color="black" lx-type="flat" lx-dialog-close>Close</lx-button>
        <lx-button lx-type="raised" >Ok</lx-button>
    </lx-dialog-footer>
</lx-dialog>