<!-- EDIT DIALOG -->

<lx-dialog id="{{ dialogCheckpay }}" lx-size="m">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                {{ 'checkpayment.dialog.title' | translate }}
            </span>
        </div>
    </lx-dialog-header>

    <lx-dialog-content>

        <!-- EDIT FORM -->
        <div class="row" >
            <form name="editNotifyPay" novalidate>
                <!--1{{fuser}} 2{{master}}-->
                <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
                    <!--<div flex-item="2"></div>-->
                    <div flex-item="16">
                        <div class="card" >
                            <div class="p+">
                                <!--[{"id":4,"paymethod":65,"bank":2,"relatedref":"9876542","inspaymethod":0,"insbank":"GISBEL L BRANCHI
 A","insacctnum":"4989333873598794","insname":"BANK RIFEL","amount":65.88,"dcreate":1238472000000,"dupdate"
 :1478750400000,"approved":false}]-->
                                <div flex-container="row">
                                    <div flex-item="6">
                                        <span class="fs-subhead">{{ 'checkpayment.dialog.form1.f1' | translate }}:</span>
                                        <span class="fs-subhead display-block">{{ feditcheckpay.insname }}</span>
                                    </div>
                                    <div flex-item="6">
                                        <span class="fs-subhead">{{ 'checkpayment.dialog.form1.f2' | translate }}:</span>
                                        <span class="fs-subhead display-block">{{ feditcheckpay.relatedref }}</span>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item="6">
                                        <span class="fs-subhead">{{ 'checkpayment.dialog.form1.f3' | translate }}:</span>
                                        <span class="fs-subhead display-block">{{ feditcheckpay.amount | currency:"USD$" }}</span>
                                    </div>
                                    <div flex-item="6">
                                        <span class="fs-subhead">{{ 'checkpayment.dialog.form1.f4' | translate }}:</span>
                                        <span class="fs-subhead display-block">{{ feditcheckpay.dcreate | dateFromDB : "YYYY-MM-DD" }}</span>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item="6">
                                        <lx-text-field lx-label="{{ 'checkpayment.dialog.form1.f5' | translate}}"
                                                       lx-valid="editNotifyPay.famount.$valid"
                                                       lx-error="editNotifyPay.famount.$invalid && editNotifyPay.famount.$touched"
                                                       >
                                            <input type="text"
                                                   name="famount"
                                                   ng-model="feditcheckpay.famount"
                                                   ng-required="true"
                                                   ui-number-mask />
                                        </lx-text-field>
                                        <div ng-messages="editNotifyPay.famount.$error"
                                             ng-if="editNotifyPay.famount.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{ 'feditcheckpay.form1.f5error.e1' | translate}}</div>
                                        </div>
                                    </div>
                                    <div flex-item>
                                        <lx-checkbox
                                                ng-model="feditcheckpay.approved"
                                                lx-color="blue"
                                                name="enabled"
                                                ng-true-value="true"
                                                ng-false-value="false">
                                            {{ 'checkpayment.dialog.form1.f6' | translate}}
                                        </lx-checkbox>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="card__actions">
                                <div class="p+">

                                    &lt;!&ndash;<lx-button lx-color="red"
                                               ng-click="reset()"
                                    >Limpiar</lx-button>
                                    <lx-button lx-color="green"
                                               ng-click="userCreate($event, feditcheckpay)"
                                               ng-disabled="sendbutton || editNotifyPay.$invalid"
                                    >REGISTRAR</lx-button>&ndash;&gt;
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </lx-dialog-content>

    <lx-dialog-footer>
        <div style="position: relative;">
            <lx-progress lx-type="linear" lx-color="teal"
                         ng-if="LinearProgress">
            </lx-progress>
        </div>
        <lx-button lx-color="black" lx-type="flat" ng-click="reset()" lx-dialog-close>{{ 'checkpayment.dialog.form1.button1' | translate}}</lx-button>
        <lx-button lx-color="green"
                   ng-click="updatePaymentsRecieved($event, feditcheckpay)"
                   ng-disabled="sendbutton || editNotifyPay.$invalid"
        >{{ 'checkpayment.dialog.form1.button2' | translate}}</lx-button>
    </lx-dialog-footer>
</lx-dialog>