<div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
    <div flex-item="10">
        <div class="card" >
            <div class="p+">
                <strong class="fs-headline display-block">Error!!!</strong>

                <div class="paragraph fs-body-1 mt+">
                    <p>
                        Contact your Administrator!!!
                    </p>
                </div>
            </div>

            <div class="card__actions">
                <div class="p+">
                    <a href="" ng-href="/dashboard">
                        <button class="btn btn--m btn--raised bgc-jd tc-white-1" lx-ripple="indigo-500">Return</button>
                    </a>
                </div>
            </div>
        </div>
    </div>




</div>