
<!-------------------------->
<!-- START - PRODUCT FORM -->
<!-------------------------->
<div class="p+" flex-container="row"  flex-column="16" flex-gutter="24">
    <form name="AddProductForm" novalidate>
    <!--{{user.user_id}}

    {{paymethod}}{{fproduct}}-->
    <div class="p+" >
        <div flex-item="16">
            <div class="card" >
                <div class="p+">
                    <strong class="fs-headline display-block">{{ 'products.tabs.tab1' | translate}}</strong>
                    <div class="paragraph fs-body-1 mt+">
                        <div class="p+ pt0">
                            <div flex-container="row" flex-gutter="24">
                                <div flex-item="4">
                                    <lx-text-field
                                            lx-label="{{ 'products.form1.f1' | translate}}"
                                            lx-valid="AddProductForm.productname.$valid"
                                            lx-error="AddProductForm.productname.$invalid && AddProductForm.productname.$touched">
                                        <input type="text" name="productname" ng-required="true"
                                               ng-model="fproduct.productname" />
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.productname.$error"
                                         ng-if="AddProductForm.productname.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f1error.e1' | translate}}</div>
                                    </div>
                                </div>

                                <div flex-item="4">
                                    <lx-text-field
                                            lx-label="{{ 'products.form1.f2' | translate}}"
                                            lx-valid="AddProductForm.detail.$valid"
                                            lx-error="AddProductForm.detail.$invalid && AddProductForm.detail.$touched">
                                    <textarea type="text" name="detail" ng-required="true"
                                              ng-model="fproduct.detail" ></textarea>
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.detail.$error"
                                         ng-if="AddProductForm.detail.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f2error.e1' | translate}}</div>
                                    </div>
                                </div>

                                <div flex-item="4">
                                    <lx-text-field
                                            lx-label="{{ 'products.form1.f3' | translate}}"
                                            lx-valid="AddProductForm.productunit.$valid"
                                            lx-error="AddProductForm.productunit.$invalid && AddProductForm.productunit.$touched">
                                        <input type="text" name="productunit" ng-required="true"
                                               ng-model="fproduct.productunit" />
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.productunit.$error"
                                         ng-if="AddProductForm.productunit.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f3error.e1' | translate}}</div>
                                    </div>
                                </div>
                            </div>

                            <div flex-container="row" flex-gutter="24">
                                <div flex-item="4">
                                    <lx-text-field
                                            lx-label="{{ 'products.form1.f4' | translate}}"
                                            lx-valid="AddProductForm.productunitdesc.$valid"
                                            lx-error="AddProductForm.productunitdesc.$invalid && AddProductForm.productunitdesc.$touched">
                                        <input type="text" name="productunitdesc" ng-required="true"
                                               ng-model="fproduct.productunitdesc" />
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.productunitdesc.$error"
                                         ng-if="AddProductForm.productunitdesc.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f4error.e1' | translate}}</div>
                                    </div>
                                </div>

                                <div flex-item="4">
                                    <span style="margin-left: 65px; margin-top: 20px;" class="fs-body-2 display-block">
                                    {{ 'products.form1.f5' | translate}}:
                                        <lx-checkbox
                                            ng-model="fproduct.active"
                                            lx-color="blue"
                                            name="enabled"
                                            ng-true-value="true"
                                            ng-false-value="false">
                                            {{ 'products.form1.f5label' | translate}}
                                        </lx-checkbox>
                                    </span>
                                </div>

                                <div flex-item="4">
                                    <lx-select
                                            name="pricetype"
                                            ng-model="fproduct.pricetype"
                                            lx-allow-clear="true"
                                            lx-choices="pricetypeOpts"
                                            lx-fixed-label="true"
                                            lx-valid="pricetype.$valid"
                                            lx-error="pricetype.$invalid && pricetype.$touched"
                                            ng-required="true"
                                            lx-label="{{ 'products.form1.f6' | translate}}">
                                        <lx-select-selected>
                                            {{ $selected.name }}
                                        </lx-select-selected>

                                        <lx-select-choices>
                                            {{ $choice.name }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="pricetype.$error"
                                         ng-if="pricetype.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f6error.e1' | translate}}</div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- PRICES -->
            <div flex-item="16">
                <div class="card" >
                    <div class="p+">
                        <strong class="fs-headline display-block">Precio</strong>
                        <div class="paragraph fs-body-1 mt+">
                            <div flex-container="row" flex-gutter="24">
                                <div flex-item="4" class="p+" >
                                    <lx-select
                                            name="location"
                                            ng-model="fproduct.location"
                                            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 700, 'blur': 0 } }"
                                            lx-allow-clear="true"
                                            lx-choices="selectAjax.locationOpts"
                                            lx-display-filter="true"
                                            lx-fixed-label="true"
                                            lx-filter="searchLocation(newValue)"
                                            lx-valid="AddProdutForm.location.$valid"
                                            lx-error="AddProdutForm.location.$invalid && AddProdutForm.location.$touched"
                                            lx-loading="selectAjax.loading"
                                            ng-required="true"
                                            lx-label="{{ 'products.form1.f7' | translate}}">
                                        <lx-select-selected>
                                            <img src='../css/img/flags/{{$selected.country}}.png' alt="" style="visibility: visible; float: left;" width="25px" /> {{ $selected.name }}
                                        </lx-select-selected>

                                        <lx-select-choices>
                                            <img src='../css/img/flags/{{$choice.country}}.png' alt="" style="visibility: visible; float: left;" width="25px" /> {{ $choice.name }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="AddProdutForm.location.$error"
                                         ng-if="AddProdutForm.location.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f7error.e1' | translate}}</div>
                                    </div>
                                </div>

                                <!--<div flex-item="4" class="p+" >
                                    <lx-select
                                            name="provider"
                                            ng-model="fproduct.provider"
                                            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 700, 'blur': 0 } }"
                                            lx-allow-clear="true"
                                            lx-choices="selectAjax.providerOpts"
                                            lx-display-filter="true"
                                            lx-fixed-label="true"
                                            lx-filter="searchLocation(newValue)"
                                            lx-valid="AddProdutForm.provider.$valid"
                                            lx-error="AddProdutForm.provider.$invalid && AddProdutForm.provider.$touched"
                                            lx-loading="selectAjax.loading"
                                            ng-required="true"
                                            lx-label="Provider">
                                        <lx-select-selected>
                                            <img src='../css/img/flags/{{$selected.country}}.png' alt="" style="visibility: visible; float: left;" width="25px" /> {{ $selected.name }}
                                        </lx-select-selected>

                                        <lx-select-choices>
                                            <img src='../css/img/flags/{{$choice.country}}.png' alt="" style="visibility: visible; float: left;" width="25px" /> {{ $choice.name }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="AddProdutForm.provider.$error"
                                         ng-if="AddProdutForm.provider.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">Choose your location</div>
                                    </div>
                                </div>-->

                                <div flex-item="4" style="margin-top: 16px;">
                                    <lx-select
                                            name="aviationtype"
                                            ng-model="fproduct.aviationtype"
                                            lx-allow-clear="true"
                                            lx-choices="aviationOpts"
                                            lx-fixed-label="true"
                                            lx-valid="AddProdutForm.aviationtype.$valid"
                                            lx-error="AddProdutForm.aviationtype.$invalid && AddProdutForm.aviationtype.$touched"
                                            ng-required="true"
                                            lx-label="{{ 'products.form1.f8' | translate}}">
                                        <lx-select-selected>
                                            {{ $selected.value }}
                                        </lx-select-selected>

                                        <lx-select-choices>
                                            {{ $choice.value }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="AddProdutForm.aviationtype.$error"
                                         ng-if="AddProdutForm.aviationtype.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f8error.e1' | translate}}</div>
                                    </div>
                                </div>
                            </div>

                            <div flex-container="row" flex-gutter="24">

                                <div flex-item="4">
                                    <lx-text-field
                                            lx-label="{{ 'products.form1.f9' | translate}}"
                                            lx-valid="AddProductForm.pricename.$valid"
                                            lx-error="AddProductForm.pricename.$invalid && AddProductForm.pricename.$touched">
                                        <input type="text" name="pricename" ng-required="true"
                                               ng-model="fproduct.pricename"/>
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.pricename.$error"
                                         ng-if="AddProductForm.pricename.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f9error.e1' | translate}}</div>
                                    </div>
                                </div>

                                <div flex-item="4">
                                    <span style="margin-left: 65px; margin-top: 20px;" class="fs-body-2 display-block">
                                    {{ 'products.form1.f10' | translate}}:
                                        <lx-checkbox
                                                ng-model="fproduct.prepaid"
                                                lx-color="blue"
                                                name="enabled"
                                                ng-true-value="true"
                                                ng-false-value="false">
                                            {{ 'products.form1.f10label' | translate}}
                                        </lx-checkbox>
                                    </span>
                                </div>

                                <div flex-item="4">
                                    <lx-date-picker
                                            id="{{validtoDatePickerId}}"
                                            ng-model="fproduct.validto"
                                            lx-input-format="{{dateP.format}}"
                                            lx-callback="datePickerCallback(newDate, 'validtoDatePickerId')"
                                            lx-locale="{{dateP.locale}}"
                                            lx-min-date="fproduct.validtodatePicker.minDate"
                                    >
                                        <lx-text-field
                                                lx-allow-clear="true"
                                                lx-label="{{ 'products.form1.f11' | translate}}"
                                                lx-valid="AddProductForm.validto.$valid"
                                                lx-error="AddProductForm.validto.$invalid && AddProductForm.validto.$touched">
                                            <input type="text" name="validto"
                                                   ng-model="fproduct.validtodatePicker.dateFormated"
                                                   ng-required="true" />
                                        </lx-text-field>
                                    </lx-date-picker>
                                    <div ng-messages="AddProductForm.validto.$error"
                                         ng-if="AddProductForm.validto.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f11error.e1' | translate}}</div>
                                    </div>
                                </div>

                            </div>


                            <div flex-container="row" flex-gutter="24">

                                <section ng-show="fproduct.pricetype.key=='P'">
                                    <div flex-item="3">
                                        <lx-text-field
                                                lx-label="{{ 'products.form1.f12' | translate}}"
                                                lx-valid="AddProductForm.frompound.$valid"
                                                lx-error="AddProductForm.frompound.$invalid && AddProductForm.frompound.$touched">
                                            <input type="number" name="frompound"
                                                   ng-model="fproduct.frompound"
                                                   ng-required="{{fproduct.pricetype.key=='P'? true : false }}"/>
                                        </lx-text-field>
                                        <div ng-messages="AddProductForm.frompound.$error"
                                             ng-if="AddProductForm.frompound.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{ 'products.form1.f12error.e1' | translate}}</div>
                                        </div>
                                    </div>
                                    <div flex-item="3">
                                        <lx-text-field
                                                lx-label="{{ 'products.form1.f13' | translate}}"
                                                lx-valid="AddProductForm.topound.$valid"
                                                lx-error="AddProductForm.topound.$invalid && AddProductForm.topound.$touched">
                                            <input type="number" name="topound"
                                                   ng-model="fproduct.topound"
                                                   ng-required="{{fproduct.pricetype.key=='P'? true : false }}" />
                                        </lx-text-field>
                                        <div ng-messages="AddProductForm.topound.$error"
                                             ng-if="AddProductForm.topound.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{ 'products.form1.f13error.e1' | translate}}</div>
                                        </div>
                                    </div>
                                </section>


                              <section ng-show="fproduct.pricetype.key=='D'">
                                <div flex-item="3">
                                    <lx-date-picker
                                            id="{{fromdateDatePickerId}}"
                                            ng-model="fproduct.fromdate"
                                            lx-input-format="{{dateP.format}}"
                                            lx-callback="datePickerCallback(newDate, 'fromdateDatePickerId')"
                                            lx-locale="{{dateP.locale}}"
                                            lx-min-date="fproduct.fromdatedatePicker.minDate"
                                    >
                                        <lx-text-field
                                                lx-allow-clear="true"
                                                lx-label="{{ 'products.form1.f14' | translate}}"
                                                lx-valid="AddProductForm.fromdate.$valid"
                                                lx-error="AddProductForm.fromdate.$invalid && AddProductForm.fromdate.$touched">
                                            <input type="text" name="fromdate"
                                                   ng-model="fproduct.fromdatedatePicker.dateFormated"
                                                   ng-required="{{fproduct.pricetype.key=='D'? true : false }}"
                                                    />
                                        </lx-text-field>
                                    </lx-date-picker>
                                    <div ng-messages="AddProductForm.fromdate.$error"
                                         ng-if="AddProductForm.fromdate.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f14error.e1' | translate}}</div>
                                    </div>
                                </div>

                                <div flex-item="3">
                                    <lx-date-picker
                                            id="{{todateDatePickerId}}"
                                            ng-model="fproduct.todate"
                                            lx-input-format="{{dateP.format}}"
                                            lx-callback="datePickerCallback(newDate, 'todateDatePickerId')"
                                            lx-locale="{{dateP.locale}}"
                                            lx-min-date="fproduct.todatedatePicker.minDate"
                                    >
                                        <lx-text-field
                                                lx-allow-clear="true"
                                                lx-label="{{ 'products.form1.f15' | translate}}"
                                                lx-valid="AddProductForm.todate.$valid"
                                                lx-error="AddProductForm.todate.$invalid && AddProductForm.todate.$touched">
                                            <input type="text" name="todate"
                                                   ng-model="fproduct.todatedatePicker.dateFormated"
                                                   ng-required="{{fproduct.pricetype.key=='D'? true : false }}"
                                                    />
                                        </lx-text-field>
                                    </lx-date-picker>
                                    <div ng-messages="AddProductForm.todate.$error"
                                         ng-if="AddProductForm.todate.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f15error.e1' | translate}}</div>
                                    </div>
                                </div>
                              </section>
                            </div>

                            <div flex-container="row" flex-gutter="24">
                                <div flex-item="3">
                                    <lx-select
                                            name="currency"
                                            ng-model="fproduct.currency"
                                            lx-allow-clear="true"
                                            lx-choices="currencyOpts"
                                            lx-fixed-label="true"
                                            lx-valid="AddProdutForm.currency.$valid"
                                            lx-error="AddProdutForm.currency.$invalid && AddProdutForm.currency.$touched"
                                            ng-required="true"
                                            lx-label="{{ 'products.form1.f16' | translate}}">
                                        <lx-select-selected>
                                            {{ $selected.name }}
                                        </lx-select-selected>

                                        <lx-select-choices>
                                            {{ $choice.name }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="AddProdutForm.currency.$error"
                                         ng-if="AddProdutForm.currency.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f16error.e1' | translate}}</div>
                                    </div>
                                </div>
                              <section ng-show="fproduct.pricetype.key=='U'">
                                <div flex-item="3">
                                    <lx-text-field
                                            lx-label="{{ 'products.form1.f17' | translate}}"
                                            lx-valid="AddProductForm.measure.$valid"
                                            lx-error="AddProductForm.measure.$invalid && AddProductForm.measure.$touched">
                                        <input type="text" name="measure"
                                               ng-model="fproduct.measure"
                                               ng-required="{{fproduct.pricetype.key=='U'? true : false }}"/>
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.measure.$error"
                                         ng-if="AddProductForm.measure.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f17error.e1' | translate}}</div>
                                    </div>
                                </div>

                                <div flex-item="3">
                                    <lx-text-field
                                            lx-label="{{ 'products.form1.f18' | translate}}"
                                            lx-valid="AddProductForm.unit.$valid"
                                            lx-error="AddProductForm.unit.$invalid && AddProductForm.unit.$touched">
                                        <input type="text" name="unit"
                                               ng-model="fproduct.unit"
                                               ng-required="{{fproduct.pricetype.key=='U'? true : false }}"/>
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.unit.$error"
                                         ng-if="AddProductForm.unit.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f18error.e1' | translate}}</div>
                                    </div>
                                </div>

                                <div flex-item="3">
                                    <lx-text-field
                                            lx-label="{{ 'products.form1.f19' | translate}}"
                                            lx-valid="AddProductForm.unitdesc.$valid"
                                            lx-error="AddProductForm.unitdesc.$invalid && AddProductForm.unitdesc.$touched">
                                        <input type="text" name="unitdesc"
                                               ng-model="fproduct.unitdesc"
                                               ng-required="{{fproduct.pricetype.key=='U'? true : false }}"/>
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.unitdesc.$error"
                                         ng-if="AddProductForm.unitdesc.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f19error.e1' | translate}}</div>
                                    </div>
                                </div>
                              </section>
                            </div>

                            <div flex-container="row" flex-gutter="24">



                                <div flex-item="2">
                                    <lx-text-field
                                            lx-label="{{ 'products.form1.f20' | translate}}"
                                            lx-valid="AddProductForm.price1.$valid"
                                            lx-error="AddProductForm.price1.$invalid && AddProductForm.price1.$touched">
                                        <input type="text" name="price1" ng-required="true"
                                               ng-model="fproduct.price1" ui-number-mask/>
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.price1.$error"
                                         ng-if="AddProductForm.price1.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f20error.e1' | translate}}</div>
                                    </div>
                                </div>

                                <div flex-item="2">
                                    <lx-text-field
                                            lx-label="{{ 'products.form1.f21' | translate}}"
                                            lx-valid="AddProductForm.cost1.$valid"
                                            lx-error="AddProductForm.cost1.$invalid && AddProductForm.cost1.$touched">
                                        <input type="text" name="cost1" ng-required="true"
                                               ng-model="fproduct.cost1" ui-number-mask/>
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.cost1.$error"
                                         ng-if="AddProductForm.cost1.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f21error.e1' | translate}}</div>
                                    </div>
                                </div>


                            </div>

                            <div flex-container="row" flex-gutter="24">
                                <div flex-item="3">
                                    <lx-text-field
                                            lx-label="{{ 'products.form1.f22' | translate}}"
                                            lx-valid="AddProductForm.diff.$valid"
                                            lx-error="AddProductForm.diff.$invalid && AddProductForm.diff.$touched">
                                        <input type="text" name="diff" ng-required="true"
                                               ng-model="fproduct.diff" ui-number-mask/>
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.diff.$error"
                                         ng-if="AddProductForm.diff.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">{{ 'products.form1.f22error.e1' | translate}}</div>
                                    </div>
                                </div>
                            </div>

                            <div flex-item="4">
                                    <span style="margin-left: 65px; margin-top: 20px;" class="fs-body-2 display-block">
                                    {{ 'products.form1.f23' | translate}}:
                                        <lx-checkbox
                                                ng-model="fproduct.feesenable"
                                                lx-color="blue"
                                                name="enabled"
                                                ng-true-value="true"
                                                ng-false-value="false">
                                            {{ 'products.form1.f23label' | translate}}
                                        </lx-checkbox>
                                    </span>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="position: relative;">
        <lx-progress lx-type="linear" lx-color="teal"
                     ng-if="LinearProgress">
        </lx-progress>
    </div>
    <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">
        <lx-button lx-color="red"
                   ng-click="reset()"
        >{{ 'products.form1.button1' | translate}}</lx-button>
        <lx-button lx-color="green"
                   ng-click="addProduct($event, fproduct, id_grp.id)"
                   ng-disabled="sendbutton || AddProductForm.$invalid">
            {{ 'products.form1.button2' | translate}}</lx-button>
    </div>
</form>
</div>
<!-------------------------->
<!-- START - PRODUCT PRICES FORM -->
<!-------------------------->
<!--<form name="AddProductPriceForm" ng-show="disablePrice" novalidate>
    &lt;!&ndash;{{user.user_id}}
    1{{fprice}}
    2{{productId}}
    3{{productId}}
    {{paymethod}}&ndash;&gt;
    <div class="p+" flex-container="row" flex-gutter="24" flex-column="16" flex-gutter="24">
        <div flex-item="16">
            <div class="card" >
                <div class="p+">
                    <strong class="fs-headline display-block">Nuevo Producto</strong>
                    <div class="paragraph fs-body-1 mt+">
                        <div class="p+ pt0">
                            <div flex-container="row" flex-gutter="24">
                                <div flex-item="16">
                                    <lx-text-field
                                            lx-label="Descripción del Precio"
                                            lx-valid="AddProductPriceForm.description.$valid"
                                            lx-error="AddProductPriceForm.description.$invalid && AddProductPriceForm.description.$touched">
                                        <input type="text" name="description" ng-required="true"
                                               ng-model="fprice.description" />
                                    </lx-text-field>
                                    <div ng-messages="AddProductPriceForm.description.$error"
                                         ng-if="AddProductPriceForm.description.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">Introduce la Descripción del Producto</div>
                                    </div>
                                </div>
                            </div>

                            <div flex-container="row" flex-gutter="24">
                                <div class="p+ pt0" flex-item="4">
                                    <lx-date-picker ng-model="fprice.fromdate"
                                                    lx-input-format="YYYY-MM-DD"
                                                    lx-locale="es"
                                                    lx-valid="AddProductPriceForm.fromdate.$valid"
                                                    lx-error="AddProductPriceForm.fromdate.$invalid && AddProductPriceForm.fromdate.$touched">
                                        <lx-text-field lx-allow-clear="true" lx-label="Fecha de Inicio">
                                            <input type="text" name="fromdate"
                                                   ng-model="fprice.fromdate" ng-required="true">
                                        </lx-text-field>
                                    </lx-date-picker>
                                    <div ng-messages="AddProductPriceForm.fromdate.$error"
                                         ng-if="AddProductPriceForm.fromdate.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">No Olvides de colocar la Fecha de Inicio</div>
                                    </div>
                                </div>

                                <div class="p+ pt0" flex-item="4">
                                    <lx-date-picker ng-model="fprice.todate"
                                                    lx-input-format="YYYY-MM-DD"
                                                    lx-locale="es"
                                                    lx-valid="AddProductPriceForm.todate.$valid"
                                                    lx-error="AddProductPriceForm.todate.$invalid && AddProductPriceForm.todate.$touched">
                                        <lx-text-field lx-allow-clear="true" lx-label="Fecha de Expiración">
                                            <input type="text" name="todate"
                                                   ng-model="fprice.todate" ng-required="true">
                                        </lx-text-field>
                                    </lx-date-picker>
                                    <div ng-messages="AddProductPriceForm.todate.$error"
                                         ng-if="AddProductPriceForm.todate.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">No Olvides de colocar la Fecha de Expiracion</div>
                                    </div>
                                </div>

                                <div flex-item="4">
                                    <lx-text-field
                                            lx-label="Precio"
                                            lx-valid="AddProductPriceForm.price.$valid"
                                            lx-error="AddProductPriceForm.price.$invalid && AddProductPriceForm.price.$touched">
                                        <input type="text" name="price" ng-required="true" ng-model="fprice.price" ng-minlength="1" ui-number-mask>
                                    </lx-text-field>
                                    <div ng-messages="AddProductPriceForm.price.$error"
                                         ng-if="AddProductPriceForm.price.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">Introduce el Monto</div>
                                        <div ng-message="minlength">Introduce un monto mayor a 0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    &lt;!&ndash;1{{productId}}2{{productId}}
    1{{sendbutton2 +" or "+ AddProductPriceForm.$invalid}}&ndash;&gt;
    <div style="position: relative;">
        <lx-progress lx-type="linear" lx-color="teal"
                     ng-if="LinearProgress2">
        </lx-progress>
    </div>
    <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">
        <lx-button lx-color="red"
                   ng-click="fpriceReset()"
        >Limpiar</lx-button>
        <lx-button lx-color="green"
                   ng-click="addPrice($event, fprice, productId)"
                   ng-disabled="sendbutton2 || AddProductPriceForm.$invalid">
            Registrar Precio</lx-button>
    </div>
</form>-->
