<!-------------------------->
<!-- START - DATA TABLE -->
<!-------------------------->
<div class="p+" flex-container="row" flex-column="16">
    <div class="card" flex-item="16">
    <div class="p+">
        <div class="data-table-container">
        <header class="data-table-header">
            <div class="data-table-header__label">
                <span class="fs-title">Precios</span>
            </div>
        </header>

        <table class="data-table">
            <thead>
            <tr class="">
                <th class="data-table__sortable-cell data-table__sortable-cell--desc">Codigo</th>
                <th >Descripción</th>
                <th >Desde</th>
                <th >Hasta</th>
                <th >Precio</th>
                <th  >Edit</th>
                <th  >Delete</th>
            </tr>
            </thead>
            <tbody>
                <tbody ng-repeat="price in listPrices track by $index">

                    1 {{listPrices.toString()}} 2 {{listPrices2.toString()}}
                    <tr  class=" ">
                        <td >{{price.id}}</td>
                        <td >{{price.description}}</td>
                        <td >{{price.fromdate}}</td>
                        <td >{{price.todate}}</td>
                        <td >{{price.price}}</td>
                        <td >
                            <lx-icon ng-click="toggleHiddenForm(price.id)" lx-id="lead-pencil" lx-size="m" lx-color="blue" lx-type="circled"></lx-icon>
                        </td>
                        <td >
                            <lx-icon ng-click="deletePrices(price)" lx-id="delete" lx-size="m" lx-color="red" lx-type="circled"></lx-icon>
                        </td>
                    </tr>
                    1){{toggleRow}} == {{price.id}}
                    2){{toggleRow == price.id}}
                    <tr ng-show="toggleRow == price.id">

                        <td colspan="7">
                        <!-- inner table form -->

                            <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
                                <div flex-item="16">
                                    <div class="card" >
                                        <div class="p+">
                                            <form name="editPriceForm">
                                                <!--{{user.user_id}}
                                                1{{pfields}}
                                                2{{productId}}
                                                3{{productId}}
                                                {{paymethod}}-->
                                                <lx-icon lx-id="android" ng-click="toggleHiddenForm(0)"
                                                         lx-size="l" lx-color="red" lx-type="circled">
                                                </lx-icon>
                                                <div class="paragraph fs-body-1 mt+" >
                                                    <div class="p+ pt0">
                                                        <div flex-container="row">
                                                            <div flex-item="4">
                                                                <lx-text-field
                                                                    lx-label="Descripción del Precio"
                                                                    lx-valid="editPriceForm.description.$valid"
                                                                    lx-error="editPriceForm.description.$invalid && editPriceForm.description.$touched">
                                                                    <input type="text" name="description"
                                                                       ng-required="true"
                                                                       ng-model="price.description"
                                                                       ng-model-options="{ updateOn: 'updatePriceEvent'}" />
                                                                </lx-text-field>
                                                                <div ng-messages="editPriceForm.description.$error"
                                                                     ng-if="editPriceForm.description.$touched"
                                                                     style="color:maroon"
                                                                     role="alert">
                                                                    <div ng-message="required">
                                                                        Introduce la Descripción del Precio</div>
                                                                </div>
                                                            </div>

                                                            <div class="p+ pt0" flex-item="3">
                                                                <lx-date-picker ng-model="price.fromdate"
                                                                ng-model-options="{ updateOn: 'updatePriceEvent'}"
                                                                lx-input-format="YYYY-MM-DD"
                                                                
                                                                lx-valid="editPriceForm.fromdate.$valid"
                                                                lx-error="editPriceForm.fromdate.$invalid && editPriceForm.fromdate.$touched">
                                                                    <lx-text-field lx-allow-clear="true"
                                                                                   lx-label="Fecha de Inicio">
                                                                        <input type="text" name="fromdate"
                                                                               ng-model="price.fromdate"
                                                                               ng-required="true">
                                                                    </lx-text-field>
                                                                </lx-date-picker>
                                                                <div ng-messages="editPriceForm.fromdate.$error"
                                                                     ng-if="editPriceForm.fromdate.$touched"
                                                                     style="color:maroon"
                                                                     role="alert">
                                                                    <div ng-message="required">
                                                                        No Olvides de colocar la Fecha de Inicio
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="p+ pt0" flex-item="3">
                                                                <lx-date-picker ng-model="price.todate"
                                                                ng-model-options="{ updateOn: 'updatePriceEvent'}"
                                                                lx-input-format="LL"
                                                                lx-locale="es"
                                                                lx-valid="editPriceForm.todate.$valid"
                                                                lx-error="editPriceForm.todate.$invalid && editPriceForm.todate.$touched">
                                                                    <lx-text-field lx-allow-clear="true"
                                                                                   lx-label="Fecha de Exp.">
                                                                        <input type="text" name="todate"
                                                                               ng-model="price.todate"
                                                                               ng-required="true">
                                                                    </lx-text-field>
                                                                </lx-date-picker>
                                                                <div ng-messages="editPriceForm.todate.$error"
                                                                     ng-if="editPriceForm.todate.$touched"
                                                                     style="color:maroon"
                                                                     role="alert">
                                                                    <div ng-message="required">
                                                                        No Olvides de colocar la Fecha
                                                                        de Expiracion</div>
                                                                </div>
                                                            </div>

                                                            <div flex-item="2">
                                                                <lx-text-field
                                                                lx-label="Precio"
                                                                lx-valid="editPriceForm.price.$valid"
                                                                lx-error="editPriceForm.price.$invalid && editPriceForm.price.$touched">
                                                                    <input type="text" name="price" ng-required="true"
                                                                       ng-model="price.price"
                                                                       ng-model-options="{ updateOn: 'updatePriceEvent'}"
                                                                           ng-minlength="1" ui-number-mask>
                                                                </lx-text-field>
                                                                <div ng-messages="editPriceForm.price.$error"
                                                                     ng-if="editPriceForm.price.$touched"
                                                                     style="color:maroon"
                                                                     role="alert">
                                                                    <div ng-message="required">Introduce el Monto</div>
                                                                    <div ng-message="minlength">
                                                                        Introduce un monto mayor a 0</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--1{{productId}}2{{productId}}
                                                1{{sendbutton2 +" or "+ editPriceForm.$invalid}}-->
                                                <div style="position: relative;">
                                                    <lx-progress lx-type="linear" lx-color="teal"
                                                                 ng-if="updateLinearProgress2">
                                                    </lx-progress>
                                                </div>
                                                <div class="tc-white-1 p+"
                                                     flex-container="column"
                                                     flex-align="space-between center">

                                                    <lx-button lx-color="green"
                                                    ng-click="editPriceForm.$commitViewValue(); updatePrice($event, price)" >
                                                        Actualizar Precio</lx-button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        <!-- inner table form -->
                        </td>
                    </tr>
                </tbody>

            </tbody>
        </table>
        </div>
    </div>
</div>
</div>