<!-------------------------->
<!-- START - DIALOG  -->
<!-------------------------->
<lx-dialog id="{{ dialogProduct }}">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                Editar Producto
            </span>
        </div>
    </lx-dialog-header>

    <lx-dialog-content>
        <!-------------------------->
        <!-- START - PRODUCT EDIT FORM -->
        <!-------------------------->
        <form name="editProductForm">
            <!--{{user.user_id}}-->

            <!--{{paymethod}}-->
            <div class="p+" >
                <div flex-item="12">
                    <div class="card" >
                        <div class="p+">
                            <strong class="fs-headline display-block">Editar Producto</strong>
                            1{{editFieldsProduct}}
                            <div class="paragraph fs-body-1 mt+" >
                                <div class="p+ pt0">
                                    <div flex-container="row">
                                        <div flex-item>
                                            <lx-text-field
                                                    lx-label="Codigo del Product"
                                                    lx-valid="editProductForm.productcode.$valid"
                                                    lx-error="editProductForm.productcode.$invalid && editProductForm.productcode.$touched">
                                                <input type="text" name="productcode" ng-required="true"
                                                       ng-model="editFieldsProduct.productcode"
                                                       ng-minlength="3" ng-maxlength="3"/>
                                            </lx-text-field>
                                            <div ng-messages="editProductForm.productcode.$error"
                                                 ng-if="editProductForm.productcode.$touched"
                                                 style="color:maroon"
                                                 role="alert">
                                                <div ng-message="required">Introduce el Nombre del Producto</div>
                                                <div ng-message="minlength">
                                                    Introduce 3 digitos para el producto
                                                </div>
                                                <div ng-message="maxlength">
                                                    Introduce 3 digitos para el producto
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div flex-container="row">
                                        <div flex-item>
                                            <lx-select
                                                    name="id_grp"
                                                    ng-model="id_grp"
                                                    lx-allow-clear="true"
                                                    lx-choices="groupOpts"
                                                    lx-fixed-label="true"
                                                    lx-valid="id_grp.$valid"
                                                    lx-error="id_grp.$invalid && id_grp.$touched"
                                                    ng-required="true"
                                                    lx-label="Grupo de Sevicios">
                                                <lx-select-selected>
                                                    {{ $selected.description }}
                                                </lx-select-selected>

                                                <lx-select-choices>
                                                    {{ $choice.description }}
                                                </lx-select-choices>
                                            </lx-select>
                                            <div ng-messages="id_grp.$error"
                                                 ng-if="id_grp.$touched"
                                                 style="color:maroon"
                                                 role="alert">
                                                <div ng-message="required">Escoge el tipo de Metodo</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div flex-container="row">
                                        <div flex-item>
                                            <lx-text-field
                                                    lx-label="Nombre del Producto"
                                                    lx-valid="editProductForm.description.$valid"
                                                    lx-error="editProductForm.description.$invalid && editProductForm.description.$touched">
                                                <input type="text" name="description" ng-required="true"
                                                       ng-model="editFieldsProduct.description" />
                                            </lx-text-field>
                                            <div ng-messages="editProductForm.description.$error"
                                                 ng-if="editProductForm.description.$touched"
                                                 style="color:maroon"
                                                 role="alert">
                                                <div ng-message="required">Introduce el Nombre del Producto</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div flex-container="row">
                                        <div flex-item>
                                            <lx-text-field
                                                    lx-label="Descripción del Producto"
                                                    lx-valid="editProductForm.detaildesc.$valid"
                                                    lx-error="editProductForm.detaildesc.$invalid && editProductForm.detaildesc.$touched">
                                <textarea type="text" name="detaildesc" ng-required="true"
                                          ng-model="editFieldsProduct.detaildesc" ></textarea>
                                            </lx-text-field>
                                            <div ng-messages="editProductForm.detaildesc.$error"
                                                 ng-if="editProductForm.detaildesc.$touched"
                                                 style="color:maroon"
                                                 role="alert">
                                                <div ng-message="required">
                                                    Introduce la Descripción del Producto
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div flex-container="row">
                                        <div flex-item>
                                            <lx-select
                                                    name="location"
                                                    ng-model="editFieldsProduct.location"
                                                    lx-allow-clear="true"
                                                    lx-choices="selectAjax.locationOpts"
                                                    lx-display-filter="true"
                                                    lx-fixed-label="true"
                                                    lx-filter="searchLocation(newValue)"
                                                    lx-valid="location.$valid"
                                                    lx-error="location.$invalid && location.$touched"
                                                    lx-loading="selectAjax.loading"
                                                    ng-required="true"
                                                    lx-label="Locaciones">
                                                <lx-select-selected>
                                                    {{ $selected.airport }}
                                                </lx-select-selected>

                                                <lx-select-choices>
                                                    {{ $choice.airport }}
                                                </lx-select-choices>
                                            </lx-select>
                                            <div ng-messages="location.$error"
                                                 ng-if="location.$touched"
                                                 style="color:maroon"
                                                 role="alert">
                                                <div ng-message="required">Escoge tu Localidad</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div flex-container="row">
                                        <div flex-item>
                                            <lx-select
                                                    name="currency"
                                                    ng-model="editFieldsProduct.currency"
                                                    lx-allow-clear="true"
                                                    lx-choices="proCurrency"
                                                    lx-fixed-label="true"
                                                    lx-valid="editProductForm.currency.$valid"
                                                    lx-error="editProductForm.currency.$invalid && editProductForm.currency.$touched"
                                                    ng-required="true"
                                                    lx-label="Moneda">
                                                <lx-select-selected>
                                                    {{ $selected.key }}
                                                </lx-select-selected>

                                                <lx-select-choices>
                                                    {{ $choice.name }}
                                                </lx-select-choices>
                                            </lx-select>
                                            <div ng-messages="editProductForm.currency.$error"
                                                 ng-if="editProductForm.currency.$touched"
                                                 style="color:maroon"
                                                 role="alert">
                                                <div ng-message="required">Escoge el tipo de Metodo</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div flex-container="row">
                                        <div class="p+ pt0">
                                            <lx-date-picker ng-model="editFieldsProduct.datecreate"
                                                            lx-input-format="YYYY-MM-DD"
                                                            lx-valid="editProductForm.datecreate.$valid"
                                                            lx-error="editProductForm.datecreate.$invalid && editProductForm.datecreate.$touched">
                                                <lx-text-field lx-allow-clear="true"
                                                               lx-label="Fecha de Creación">
                                                    <input type="text" name="datecreate"
                                                           ng-model="editFieldsProduct.datecreate" ng-required="true">
                                                </lx-text-field>
                                            </lx-date-picker>
                                            <div ng-messages="editProductForm.datecreate.$error"
                                                 ng-if="editProductForm.datecreate.$touched"
                                                 style="color:maroon"
                                                 role="alert">
                                                <div ng-message="required">No Olvides de colocar la Fecha de Expiracion</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="position: relative;">
                <lx-progress lx-type="linear" lx-color="teal"
                             ng-if="updateLinearProgress">
                </lx-progress>
            </div>
            <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">

                <lx-button lx-color="red"
                           ng-click="reset(editFieldsProduct.id, editFieldsProduct.productcode)"
                >Limpiar</lx-button>
                <lx-button lx-color="green"
                           ng-click="updateProduct($event, editFieldsProduct)"
                           ng-disabled="updatebutton || editProductForm.$invalid">
                    Crear Producto</lx-button>
            </div>
        </form>

        <!-------------------------->
        <!-- START - PRICE DATATABLE -->
        <!-------------------------->
        {{editFieldsProduct.prices.length != 0}}
        <div ng-include="'/partials/generaldef/product/datatablePrices.html'"></div>

    </lx-dialog-content>

    <lx-dialog-footer>
        <lx-button lx-color="black" lx-type="flat" lx-dialog-close>Cerrar</lx-button>
    </lx-dialog-footer>
</lx-dialog>
