<!-------------------------->
<!-- START - DIALOG  -->
<!-------------------------->
<lx-dialog id="{{ dialogPrice }}">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                Editar Precio
            </span>
        </div>
    </lx-dialog-header>

    <lx-dialog-content>

        <!-------------------------->
        <!-- START - PRODUCT PRICES EDIT FORM -->
        <!-------------------------->
        {{vm.editFieldsPrice.prices.length != 0}}
        <form name="editPriceForm" ng-show="vm.editFieldsPrice.prices.length != 0">
            <!--{{user.user_id}}
            1{{pfields}}
            2{{vm.productId}}
            3{{productId}}
            {{paymethod}}-->
            <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
                <div flex-item="16">
                    <div class="card" >
                        <div class="p+">
                        <strong class="fs-headline display-block">Editar Precios</strong>
                            {{vm.editFieldsPrice.prices}}
                            <div class="paragraph fs-body-1 mt+" ng-repeat="pfields in vm.editFieldsPrice.prices[0]">
                            <div class="p+ pt0">
                                <div flex-container="row">
                                    <div flex-item="5">
                                        <lx-text-field
                                            lx-label="Descripción del Precio"
                                            lx-valid="editPriceForm.description.$valid"
                                            lx-error="editPriceForm.description.$invalid && editPriceForm.description.$touched">
                                            <input type="text" name="description" ng-required="true"
                                                   ng-model="pfields.description" />
                                        </lx-text-field>
                                        <div ng-messages="editPriceForm.description.$error"
                                             ng-if="editPriceForm.description.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">Introduce la Descripción del Precio</div>
                                        </div>
                                    </div>
                                </div>

                                <div flex-container="row">
                                    <div class="p+ pt0" flex-item="4">
                                        <lx-date-picker ng-model="pfields.fromdate"
                                            lx-input-format="YYYY-MM-DD"
                                            
                                            lx-valid="editPriceForm.fromdate.$valid"
                                            lx-error="editPriceForm.fromdate.$invalid && editPriceForm.fromdate.$touched">
                                            <lx-text-field lx-allow-clear="true" lx-label="Fecha de Inicio">
                                            <input type="text" name="fromdate"
                                                   ng-model="pfields.fromdate" ng-required="true">
                                            </lx-text-field>
                                        </lx-date-picker>
                                        <div ng-messages="editPriceForm.fromdate.$error"
                                             ng-if="editPriceForm.fromdate.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">No Olvides de colocar la Fecha de Inicio</div>
                                        </div>
                                    </div>

                                    <div class="p+ pt0" flex-item="4">
                                        <lx-date-picker ng-model="pfields.todate"
                                            lx-input-format="YYYY-MM-DD"
                                            
                                            lx-valid="editPriceForm.todate.$valid"
                                            lx-error="editPriceForm.todate.$invalid && editPriceForm.todate.$touched">
                                            <lx-text-field lx-allow-clear="true" lx-label="Fecha de Expiración">
                                                <input type="text" name="todate"
                                                       ng-model="pfields.todate" ng-required="true">
                                            </lx-text-field>
                                        </lx-date-picker>
                                        <div ng-messages="editPriceForm.todate.$error"
                                             ng-if="editPriceForm.todate.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">
                                                No Olvides de colocar la Fecha de Expiracion</div>
                                        </div>
                                    </div>

                                    <div flex-item="4">
                                        <lx-text-field
                                            lx-label="Precio"
                                            lx-valid="editPriceForm.price.$valid"
                                            lx-error="editPriceForm.price.$invalid && editPriceForm.price.$touched">
                                            <input type="text" name="price" ng-required="true"
                                                   ng-model="pfields.price" ng-minlength="1" ui-number-mask>
                                        </lx-text-field>
                                        <div ng-messages="editPriceForm.price.$error"
                                             ng-if="editPriceForm.price.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">Introduce el Monto</div>
                                            <div ng-message="minlength">Introduce un monto mayor a 0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--1{{vm.productId}}2{{productId}}
            1{{sendbutton2 +" or "+ editPriceForm.$invalid}}-->
            <div style="position: relative;">
                <lx-progress lx-type="linear" lx-color="teal"
                             ng-if="updateLinearProgress2">
                </lx-progress>
            </div>
            <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">

                <lx-button lx-color="green"
                           ng-click="updatePrice($event, vm.editFieldsPrice)"
                           ng-disabled="updatebutton2 || editPriceForm.$invalid">
                    Registrar Precio</lx-button>
            </div>
        </form>

    </lx-dialog-content>

    <lx-dialog-footer>
        <lx-button lx-color="black" lx-type="flat" lx-dialog-close>Cerrar</lx-button>
    </lx-dialog-footer>
</lx-dialog>

