<div class="row" flex-column="16" flex-gutter="24" flex-container="row"
     ng-init="updateMenu()">
    <div class="p+" flex-item="2">
    </div>
    <div class="p+" flex-item="12">

        <lx-tabs class=" bgc-grey-100" lx-theme="dark" lx-color="light-blue" lx-indicator="yellow">
            <lx-tab lx-icon="content-save" lx-label="{{'paymethod.tabs.tab1' | translate}}">

                <!-- FORM TAB -->
                <form name="PayMthdForm" novalidate>
                    <!--{{faddpaym}}
                    cardtype: {{PayMthdForm.payacctnum.$card.type}}-->
                    <!--user: {{user.id}}-->
                    <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
                        <div flex-item="1">
                        </div>
                        <div flex-item="14">
                            <div class="card" >
                                <div class="card__img card__img--top bgc-jd">
                                    <img ng-src="{{icon}}" width="100px" class="p+">
                                    <p class="fs-headline tc-white-1 display-block" >{{'paymethod.card1.headline' | translate}} </p>
                                </div>
                                <div class="p+">
                                    <strong class="fs-headline display-block">{{'paymethod.card1.title' | translate}}</strong>
                                    <div class="paragraph fs-body-1 mt+">
                                        <div class="p+ pt0">
                                            <div flex-container="row">
                                                <div flex-item>
                                                    <lx-select
                                                            name="paytype"
                                                            ng-model="faddpaym.paytype"
                                                            lx-allow-clear="true"
                                                            lx-choices="methodOpts"
                                                            lx-fixed-label="true"
                                                            lx-valid="PayMthdForm.paytype.$valid"
                                                            lx-error="PayMthdForm.paytype.$invalid && PayMthdForm.paytype.$touched"
                                                            ng-required="true"
                                                            lx-label="{{'paymethod.form1.f1' | translate}}">
                                                        <lx-select-selected>
                                                            {{ $selected.key }}
                                                        </lx-select-selected>

                                                        <lx-select-choices>
                                                            {{ $choice.name }}
                                                        </lx-select-choices>
                                                    </lx-select>
                                                    <div ng-messages="PayMthdForm.paytype.$error"
                                                         ng-if="PayMthdForm.paytype.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{'paymethod.form1.f1error.e1' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex-container="row">
                                                <div flex-item="2">
                                                    <p class="p+ tdc_img">
                                                        <img ng-src='../css/img/tdcs/{{PayMthdForm.payacctnum.$card.type || "credit"}}.png' alt="" style="visibility: visible; float: left;" width="50px" /></p>
                                                </div>
                                                <div flex-item="10">

                                                    <lx-text-field
                                                            lx-label="{{'paymethod.form1.f2' | translate}}"
                                                            lx-valid="PayMthdForm.payacctnum.$valid"
                                                            lx-error="PayMthdForm.payacctnum.$invalid && PayMthdForm.payacctnum.$touched"
                                                            lx-allow-clear="true">
                                                        <input type="text" name="payacctnum" ng-required="true"
                                                               ng-model="faddpaym.payacctnum"
                                                               payments-validate="card" payments-type-model="faddpaym.type"
                                                               payments-format="card" />
                                                    </lx-text-field>
                                                    <div ng-messages="PayMthdForm.payacctnum.$error"
                                                         ng-if="PayMthdForm.payacctnum.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{'paymethod.form1.f2error.e1' | translate}}</div>
                                                        <div ng-message="card">{{'paymethod.form1.f2error.e2' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex-container="row">
                                                <div flex-item>
                                                    <lx-text-field
                                                            lx-label="{{'paymethod.form1.f3' | translate}}"
                                                            lx-valid="PayMthdForm.paycardname.$valid"
                                                            lx-error="PayMthdForm.paycardname.$invalid && PayMthdForm.paycardname.$touched">
                                                        <input type="text" name="paycardname" ng-model="faddpaym.paycardname"  ng-required="true" ng-pattern="regex" capitalize />
                                                    </lx-text-field>
                                                    <div ng-messages="PayMthdForm.paycardname.$error"
                                                         ng-if="PayMthdForm.paycardname.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{'paymethod.form1.f3error.e1' | translate}}</div>
                                                        <div ng-message="pattern">{{'paymethod.form1.f3error.e2' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div flex-container="row">
                                                <div flex-item>
                                                    <lx-text-field lx-label="{{'paymethod.form1.f4' | translate}}"
                                                                   lx-valid="PayMthdForm.payvalid.$valid"
                                                                   lx-error="PayMthdForm.payvalid.$invalid && PayMthdForm.payvalid.$touched">

                                                        <input type="text"
                                                               name="payvalid"
                                                               ng-model="faddpaym.payvalid"
                                                               payments-format="expiry"
                                                               payments-validate="expiry"
                                                               ng-required="true"
                                                        />
                                                    </lx-text-field>
                                                    <div ng-messages="PayMthdForm.payvalid.$error"
                                                         ng-if="PayMthdForm.payvalid.$touched"
                                                         style="color:maroon"
                                                         role="alert">
                                                        <div ng-message="required">{{'paymethod.form1.f4error.e1' | translate}}</div>
                                                        <div ng-message="expiry">{{'paymethod.form1.f4error.e2' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card__actions" flex-container="row" flex-column="16" flex-gutter="24">
                                    <div class="p+" flex-item="5"></div>
                                    <div class="p+">
                                        <div style="position: relative;">
                                            <lx-progress lx-type="linear" lx-color="teal"
                                                         ng-if="LinearProgress">
                                            </lx-progress>
                                        </div>
                                        <lx-button lx-color="red"
                                                   ng-click="reset()"
                                        >{{'paymethod.form1.button1' | translate}}</lx-button>
                                        <lx-button lx-color="green"
                                                   ng-click="openDialogCoordinates()"
                                                   ng-disabled="sendbutton || PayMthdForm.$invalid">
                                            {{'paymethod.form1.button2' | translate}}</lx-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </lx-tab>

            <lx-tab lx-icon="airplane" lx-label="{{'paymethod.tabs.tab2' | translate}}">

                <!-- DATATABLE TAB -->
                <div flex-item="4">
                    <div class="card">
                        <div class="toolbar">
                            <lx-search-filter>
                                <input type="text" name="mysearch" ng-model="search.mysearch"
                                       ng-model-options="{ debounce : 400 }" placeholder="{{'paymethod.datatable.placeholder' | translate}}">
                            </lx-search-filter>
                        </div>
                    </div>
                </div>

                <div class="data-table-container">
                    <!--<header class="data-table-header">
                        <div class="data-table-header__label">
                            <span class="fs-title">payment Method</span>
                        </div>
                    </header>-->

                    <table class="data-table">
                        <thead>
                        <tr class="">
                            <th width="15.6%">{{'paymethod.datatable.f1' | translate}}</th>
                            <th width="10.6%">{{'paymethod.datatable.f2' | translate}}</th>
                            <th width="30.6%">{{'paymethod.datatable.f3' | translate}}</th>
                            <th width="26.6%">{{'paymethod.datatable.f4' | translate}}</th>
                            <th width="6.6%">{{'paymethod.datatable.f5' | translate}}</th>
                            <th width="6.6%">{{'paymethod.datatable.f6' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="paymthd in listPayMethod | filter:search.mysearch | orderBy:'payid' | limitTo:5 " class=" ">
                            <td >{{paymthd.paytype}}</td>
                            <td >
                                <img ng-src='../css/img/tdcs/{{paymthd.paycardtype}}.png' alt="" style="visibility: visible; float: left;" width="50px" />
                            </td>
                            <td >{{paymthd.paycardname}}</td>
                            <td >{{paymthd.payacctnum | tdcmask}}</td>
                            <td >
                                <lx-icon ng-click="openDialogPayMethod(paymthd)" lx-id="lead-pencil" lx-size="m" lx-color="blue" lx-type="circled"></lx-icon>
                            </td>
                            <td >
                                <lx-icon ng-click="deletePayMethod(paymthd)" lx-id="delete" lx-size="m" lx-color="red" lx-type="circled"></lx-icon>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- EDIT DIALOG -->

                <lx-dialog id="{{ dialogPayMethod }}">
                    <lx-dialog-header>
                        <div class="toolbar bgc-primary pl++">
                            <span class="toolbar__label tc-white fs-title">
                                {{'paymethod.card1.title' | translate}}
                            </span>

                        </div>
                    </lx-dialog-header>

                    <lx-dialog-content>

                        <!-- EDIT FORM -->
                        <form name="editPayMthdForm" novalidate>
                            <!--{{faddpaym}}
                            user: {{user.id}}-->
                            <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
                                <div flex-item="2"></div>
                                <div flex-item="12">
                                    <div class="card" >
                                        <div class="p+">
                                            <strong class="fs-headline display-block">{{'paymethod.card1.title' | translate}}</strong>
                                            <div class="paragraph fs-body-1 mt+">
                                                <div class="p+ pt0">
                                                    <div flex-container="row">
                                                        <div flex-item>
                                                            <lx-select
                                                                    name="paytype"
                                                                    ng-model="feditpaym.paytype"
                                                                    lx-allow-clear="true"
                                                                    lx-choices="methodOpts"
                                                                    lx-fixed-label="true"
                                                                    lx-valid="editPayMthdForm.paytype.$valid"
                                                                    lx-error="editPayMthdForm.paytype.$invalid && editPayMthdForm.paytype.$touched"
                                                                    ng-required="true"
                                                                    lx-label="{{'paymethod.form1.f1' | translate}}">
                                                                <lx-select-selected>
                                                                    {{ $selected.key }}
                                                                </lx-select-selected>

                                                                <lx-select-choices>
                                                                    {{ $choice.name }}
                                                                </lx-select-choices>
                                                            </lx-select>
                                                            <div ng-messages="editPayMthdForm.paytype.$error"
                                                                 ng-if="editPayMthdForm.paytype.$touched"
                                                                 style="color:maroon"
                                                                 role="alert">
                                                                <div ng-message="required">{{'paymethod.form1.f1error.e1' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div flex-container="row">
                                                        <div flex-item="2">
                                                            <p class="p+ tdc_img">
                                                                <img src='../css/img/tdcs/{{editPayMthdForm.payacctnum.$card.type || "credit"}}.png' alt="" style="visibility: visible; float: left;" width="50px" /></p>
                                                        </div>
                                                        <div flex-item="10">
{{feditpaym.paytype.key}}
                                                            <lx-text-field
                                                                    lx-label="{{'paymethod.form1.f2' | translate}}"
                                                                    lx-valid="editPayMthdForm.payacctnum.$valid"
                                                                    lx-error="editPayMthdForm.payacctnum.$invalid && editPayMthdForm.payacctnum.$touched"
                                                                    lx-allow-clear="true">
                                                                <input type="text" name="payacctnum"
                                                                       ng-required="true"
                                                                       ng-model="feditpaym.payacctnum"
                                                                       ng-value="feditpaym.payacctnum"
                                                                       payments-validate="card" payments-type-model="feditpaym.type"
                                                                       payments-format="card"
                                                                ng-disabled="feditpaym.paytype.key=='JDCARD'"/>
                                                            </lx-text-field>
                                                            <div ng-messages="editPayMthdForm.payacctnum.$error"
                                                                 ng-if="editPayMthdForm.payacctnum.$touched"
                                                                 style="color:maroon"
                                                                 role="alert">
                                                                <div ng-message="required">{{'paymethod.form1.f2error.e1' | translate}}</div>
                                                                <div ng-message="card">{{'paymethod.form1.f2error.e2' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div flex-container="row">
                                                        <div flex-item>
                                                            <lx-text-field
                                                                    lx-label="{{'paymethod.form1.f3' | translate}}"
                                                                    lx-valid="editPayMthdForm.paycardname.$valid"
                                                                    lx-error="editPayMthdForm.paycardname.$invalid && editPayMthdForm.paycardname.$touched">
                                                                <input type="text" name="paycardname" ng-model="feditpaym.paycardname"  ng-required="true" ng-pattern="regex" capitalize />
                                                            </lx-text-field>
                                                            <div ng-messages="editPayMthdForm.paycardname.$error"
                                                                 ng-if="editPayMthdForm.paycardname.$touched"
                                                                 style="color:maroon"
                                                                 role="alert">
                                                                <div ng-message="required">{{'paymethod.form1.f3error.e1' | translate}}</div>
                                                                <div ng-message="pattern">{{'paymethod.form1.f3error.e2' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div flex-container="row">
                                                        <div flex-item>
                                                            <lx-text-field lx-label="{{'paymethod.form1.f4' | translate}}"
                                                                           lx-valid="editPayMthdForm.payvalid.$valid"
                                                                           lx-error="editPayMthdForm.payvalid.$invalid && editPayMthdForm.payvalid.$touched">

                                                                <input type="text"
                                                                       name="payvalid"
                                                                       ng-model="feditpaym.payvalid"
                                                                       payments-format="expiry"
                                                                       payments-validate="expiry"
                                                                       ng-required="true"
                                                                />
                                                            </lx-text-field>
                                                            <div ng-messages="editPayMthdForm.payvalid.$error"
                                                                 ng-if="editPayMthdForm.payvalid.$touched"
                                                                 style="color:maroon"
                                                                 role="alert">
                                                                <div ng-message="required">{{'paymethod.form1.f4error.e1' | translate}}</div>
                                                                <div ng-message="expiry">{{'paymethod.form1.f4error.e2' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--<div flex-container="row">
                                                        <div flex-item>
                                                            <lx-text-field lx-label="Estatus"
                                                                           lx-valid="editPayMthdForm.paystatus.$valid"
                                                                           lx-error="editPayMthdForm.paystatus.$invalid && editPayMthdForm.paystatus.$touched">
                                                                <input type="text" name="paystatus" ng-model="feditpaym.paystatus">
                                                            </lx-text-field>
                                                            <div ng-messages="editPayMthdForm.paystatus.$error"
                                                                 ng-if="editPayMthdForm.paystatus.$touched"
                                                                 style="color:maroon"
                                                                 role="alert">
                                                                <div ng-message="required">No Olvides de colocar tu Nombre</div>
                                                            </div>
                                                        </div>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__actions">
                                            <div class="p+">
                                                <div style="position: relative;">
                                                    <lx-progress lx-type="linear" lx-color="teal"
                                                                 ng-if="LinearProgress">
                                                    </lx-progress>
                                                </div>
                                                <!--<lx-button lx-color="red"
                                                           ng-click="reset()"
                                                >Limpiar</lx-button>
                                                <lx-button lx-color="green"
                                                           ng-click="updatePayMethod($event, feditpaym)"
                                                           ng-disabled="sendbutton || editPayMthdForm.$invalid">
                                                    SALVAR</lx-button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </lx-dialog-content>

                    <lx-dialog-footer>
                        <lx-progress lx-type="linear" lx-color="teal"
                                     ng-if="LinearProgress">
                        </lx-progress>
                        <lx-button lx-color="black" lx-type="flat" ng-click="reset()" lx-dialog-close>{{'paymethod.form1.button1' | translate}}</lx-button>
                        <lx-button lx-color="green"
                                   ng-click="updatePayMethod($event, feditpaym)"
                                   ng-disabled="sendbutton || editPayMthdForm.$invalid">
                            {{'paymethod.form1.button3' | translate}}</lx-button>
                    </lx-dialog-footer>
                </lx-dialog>

            </lx-tab>

        </lx-tabs>

    </div>

</div>

<lx-dialog id="{{ dialogCoordinates }}" lx-size="s">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                {{'paymethod.coord.title' | translate}}
            </span>

        </div>
    </lx-dialog-header>

    <lx-dialog-content>
        <!--{{coord1}}-->


        <div class="p+">
            <div class="card">
                <div flex-item="6" class="p+">

                    <div class="paragraph fs-body-1 mt+">
                        <form name="formCoordinates" novalidate>
                            <div flex-container="row">
                                <div flex-item="6" class="p+">
                                    <lx-text-field lx-label="{{coord1.key}}"
                                                   lx-valid="formCoordinates.coord1.$valid"
                                                   lx-error="formCoordinates.coord1.$invalid && formCoordinates.coord1.$touched">
                                        <input type="text" name="coord1" ng-model="coord1.val" capitalize>
                                    </lx-text-field>
                                    <div ng-messages="formCoordinates.coord1.$error"
                                         ng-if="formCoordinates.coord1.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">This field must be fill</div>
                                    </div>
                                </div>
                            <!--</div>
                            {{coord2}}
                            <div flex-container="row">-->
                                <div flex-item="6" class="p+">
                                    <lx-text-field lx-label="{{coord2.key}}"
                                                   lx-valid="formCoordinates.coord2.$valid"
                                                   lx-error="formCoordinates.coord2.$invalid && formCoordinates.coord2.$touched">
                                        <input type="text" name="coord2" ng-model="coord2.val" capitalize>
                                    </lx-text-field>
                                    <div ng-messages="formCoordinates.coord2.$error"
                                         ng-if="formCoordinates.coord2.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">This field must be fill</div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>



    </lx-dialog-content>

    <lx-dialog-footer>
        <lx-button lx-color="black" lx-type="flat" lx-dialog-close> {{'paymethod.coord.button1' | translate}}</lx-button>
        <lx-button lx-color="black" lx-type="flat" ng-click="payMethodCreate($event, faddpaym)"> {{'paymethod.coord.button2' | translate}}</lx-button>
    </lx-dialog-footer>
</lx-dialog>



