<div class="row" ng-init="updateMenu()">

    <form name="AddJdForm" novalidate>
        <!--user id: {{user.id}}
        {{fjdcard}}-->
        <!--{{paymethod}}-->
        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
            <div flex-item="8">
                <div class="card" >
                    <div class="card__img card__img--top bgc-jd">
                        <img ng-src="{{icon}}" width="100px" class="p+">
                        <p class="fs-headline tc-white-1 display-block" >{{'jdcard.add.card1.headline' | translate}} J&amp;D Card </p>
                    </div>
                    <div class="p+">
                        <strong class="fs-headline display-block">{{'jdcard.add.card1.title' | translate}}</strong>
                        <!--1{{paymethod}} 2{{paymethod}}-->
                        <div class="paragraph fs-body-1 mt+">
                            <div class="p+ pt0">
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-select
                                                name="idpaymethod"
                                                ng-model="fjdcard.idpaymethod"
                                                lx-allow-clear="true"
                                                lx-choices="paymethod"
                                                lx-fixed-label="true"
                                                lx-valid="AddJdForm.idpaymethod.$valid"
                                                lx-error="AddJdForm.idpaymethod.$invalid && AddJdForm.idpaymethod.$touched"
                                                ng-required="true"
                                                lx-label="{{'jdcard.add.form1.f1' | translate}}">
                                            <lx-select-selected>
                                                {{ $selected.payacctnum | tdcmask}} - {{ $selected.paycardname }}
                                            </lx-select-selected>

                                            <lx-select-choices>
                                                {{ $choice.payacctnum | tdcmask}} - {{ $choice.paycardname }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-messages="AddJdForm.idpaymethod.$error"
                                             ng-if="AddJdForm.idpaymethod.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'jdcard.add.form1.f1error.e1' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field
                                                lx-label="{{'jdcard.add.form1.f2' | translate}}"
                                                lx-valid="AddJdForm.pay_ccsec.$valid"
                                                lx-error="AddJdForm.pay_ccsec.$invalid && AddJdForm.pay_ccsec.$touched">
                                            <input type="text" name="pay_ccsec" ng-required="true"
                                                   ng-model="fjdcard.pay_ccsec"
                                                   payments-validate="cvc" payments-type-model="type"
                                                   ng-minlength="3" ng-maxlength="4" >
                                        </lx-text-field>
                                        <div ng-messages="AddJdForm.pay_ccsec.$error"
                                             ng-if="AddJdForm.pay_ccsec.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'jdcard.add.form1.f2error.e1' | translate}}</div>
                                            <div ng-message="minlength">{{'jdcard.add.form1.f2error.e2' | translate}}</div>
                                            <div ng-message="maxlength">{{'jdcard.add.form1.f2error.e3' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div flex-item="8">
                <div class="card" >
                    <div class="card__img card__img--top">
                        <img th:src="@{/css/img/Fuelcard_empty.png}"
                             src="/css/img/Fuelcard_empty.png"
                             ng-src="/css/img/Fuelcard_empty.png" />
                        <span class="fs-headline tc-white-1 display-block emboss ccname_text">
                            {{fjdcard.cardname}}</span>
                    </div>
                    <div class="p+">
                        <strong class="fs-headline display-block">{{'jdcard.add.card2.title' | translate}} J&amp;D Card</strong>
                        <div class="paragraph fs-body-1 mt+">
                            <div class="p+ pt0">
                                <div flex-container="row">
                                    <div flex-item>

                                        <lx-text-field
                                                lx-label="{{'jdcard.add.form1.f3' | translate}} J&amp;D card "
                                                lx-valid="AddJdForm.cardname.$valid"
                                                lx-error="AddJdForm.cardname.$invalid && AddJdForm.cardname.$touched">
                                            <input type="text" name="cardname" ng-model="fjdcard.cardname"  ng-required="true"  ng-pattern="regex" capitalize>
                                        </lx-text-field>
                                        <div ng-messages="AddJdForm.cardname.$error"
                                             ng-if="AddJdForm.cardname.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'jdcard.add.form1.f3error.e1' | translate}}</div>
                                            <div ng-message="pattern">{{'jdcard.add.form1.f3error.e2' | translate}}</div>

                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field
                                                lx-label="{{'jdcard.add.form1.f4' | translate}}"
                                                lx-valid="AddJdForm.amount.$valid"
                                                lx-error="AddJdForm.amount.$invalid && AddJdForm.amount.$touched">
                                            <input type="text" name="amount" ng-required="true" ng-model="fjdcard.amount" ng-minlength="1" ui-number-mask>
                                        </lx-text-field>
                                        <div ng-messages="AddJdForm.amount.$error"
                                             ng-if="AddJdForm.amount.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'jdcard.add.form1.f4error.e1' | translate}}</div>
                                            <div ng-message="minlength">{{'jdcard.add.form1.f4error.e2' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: relative;">
            <lx-progress lx-type="linear" lx-color="teal"
                         ng-if="LinearProgress">
            </lx-progress>
        </div>
        <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">

            <lx-button lx-color="green"
                       ng-click="addjdCard($event, fjdcard)"
                       ng-disabled="sendbutton || AddJdForm.$invalid">
                {{'jdcard.add.form1.button' | translate}} J&amp;D CARD</lx-button>
        </div>
    </form>

</div>