<div class="row" ng-init="updateMenu()">

    <form name="AddGiftForm" novalidate>
        <!--user id: {{user.id}}
        fgiftcard:{{fgiftcard}}-->
        <!--{{paymethod}}-->
        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
            <div flex-item="8">
                <div class="card__img card__img--top bgc-jd">
                    <img ng-src="{{icon}}" width="100px" class="p+">
                    <p class="fs-headline tc-white-1 display-block" style=" right: 16px !important; ">{{'giftcard.add.card1.headline' | translate}}</p>
                </div>
                <span class="fs-title display-block">
                    {{'giftcard.add.radio.headline' | translate}}
                    <lx-radio-group class="mt+">
                    <lx-radio-button name="test2" value="false" ng-model="fgiftcard.switches">
                        <lx-radio-button-label>{{'giftcard.add.radio.option1.title' | translate}}</lx-radio-button-label>
                        <lx-radio-button-help>{{'giftcard.add.radio.option1.subtitle' | translate}}</lx-radio-button-help>
                    </lx-radio-button>

                    <lx-radio-button name="test2" value="true" ng-model="fgiftcard.switches">
                        <lx-radio-button-label>J&amp;D Card</lx-radio-button-label>
                        <lx-radio-button-help>{{'giftcard.add.radio.option2.subtitle' | translate}} J&amp;D Card.</lx-radio-button-help>
                    </lx-radio-button>
                </lx-radio-group>
                </span>

                <div class="card" ng-if="fgiftcard.switches=='false'">

                    <div class="p+">
                        <strong class="fs-headline display-block">{{'giftcard.add.card1.title' | translate}}</strong>
                        <!--1{{paymethod}} 2{{paymethod}}-->
                        <div class="paragraph fs-body-1 mt+">
                            <div class="p+ pt0">
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-select
                                                name="idpaymethod"
                                                ng-model="fgiftcard.idpaymethod"
                                                lx-allow-clear="true"
                                                lx-choices="paymethod"
                                                lx-fixed-label="true"
                                                lx-valid="AddGiftForm.idpaymethod.$valid"
                                                lx-error="AddGiftForm.idpaymethod.$invalid && AddGiftForm.idpaymethod.$touched"
                                                ng-required="true"
                                                lx-label="{{'giftcard.add.form1.f1' | translate}}">
                                            <lx-select-selected>
                                                {{ $selected.payacctnum | tdcmask}} - {{ $selected.paycardname }}
                                            </lx-select-selected>

                                            <lx-select-choices>
                                                {{ $choice.payacctnum | tdcmask}} - {{ $choice.paycardname }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-messages="AddGiftForm.idpaymethod.$error"
                                             ng-if="AddGiftForm.idpaymethod.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'giftcard.add.form1.f1error.e1' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field
                                                lx-label="{{'giftcard.add.form1.f2' | translate}}"
                                                lx-valid="AddGiftForm.paycardsec.$valid"
                                                lx-error="AddGiftForm.paycardsec.$invalid && AddGiftForm.paycardsec.$touched">
                                            <input type="text" name="paycardsec" ng-required="true"
                                                   ng-model="fgiftcard.paycardsec"
                                                   payments-validate="cvc" payments-type-model="type"
                                                   ng-minlength="3" ng-maxlength="4" >
                                        </lx-text-field>
                                        <div ng-messages="AddGiftForm.paycardsec.$error"
                                             ng-if="AddGiftForm.paycardsec.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'giftcard.add.form1.f2error.e1' | translate}}</div>
                                            <div ng-message="minlength">{{'giftcard.add.form1.f2error.e2' | translate}}</div>
                                            <div ng-message="maxlength">{{'giftcard.add.form1.f2error.e3' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field
                                                lx-label="{{'giftcard.add.form1.f3' | translate}}"
                                                lx-valid="AddGiftForm.tdcamount.$valid"
                                                lx-error="AddGiftForm.tdcamount.$invalid && AddGiftForm.tdcamount.$touched">
                                            <input type="text" name="tdcamount" ng-required="true" ng-model="fgiftcard.tdcamount" ng-minlength="1" ui-number-mask>
                                        </lx-text-field>
                                        <div ng-messages="AddGiftForm.tdcamount.$error"
                                             ng-if="AddGiftForm.tdcamount.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'giftcard.add.form1.f3error.e1' | translate}}</div>
                                            <div ng-message="minlength">{{'giftcard.add.form1.f3error.e2' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="card" ng-if="fgiftcard.switches=='true'">
                    <div class="p+">
                        <strong class="fs-headline display-block">{{'giftcard.add.card2.title' | translate}} J&amp;D Card</strong>
                        <!--1{{paymethod}} 2{{paymethod}}-->
                        <div class="paragraph fs-body-1 mt+">
                            <div class="p+ pt0">
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-select
                                                name="jdcardmethod"
                                                ng-model="fgiftcard.jdcardmethod"
                                                lx-allow-clear="true"
                                                lx-choices="jdcardOpts"
                                                lx-fixed-label="true"
                                                lx-valid="AddGiftForm.jdcardmethod.$valid"
                                                lx-error="AddGiftForm.jdcardmethod.$invalid && AddGiftForm.jdcardmethod.$touched"
                                                ng-required="true"
                                                lx-label="{{'giftcard.add.form1.f4' | translate}}">
                                            <lx-select-selected>
                                                {{ $selected.payacctnum | tdcmask}} - {{ $selected.paycardname }}
                                            </lx-select-selected>

                                            <lx-select-choices>
                                                {{ $choice.payacctnum | tdcmask}} - {{ $choice.paycardname }} - {{ $choice.payavailable | currency:"USD$"  }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-messages="AddGiftForm.jdcardmethod.$error"
                                             ng-if="AddGiftForm.jdcardmethod.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'giftcard.add.form1.f4error.e1' | translate}</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row" ng-show="fgiftcard.jdcardmethod.paybalance">
                                    <div flex-item>
                                        <p class="p+ fs-title display-block" >
                                            Your balance is $ {{fgiftcard.jdcardmethod.paybalance}}
                                        </p>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field
                                                lx-label="{{'giftcard.add.form1.f5' | translate}}"
                                                lx-valid="AddGiftForm.jdcamount.$valid"
                                                lx-error="AddGiftForm.jdcamount.$invalid && AddGiftForm.jdcamount.$touched">
                                            <input type="text" name="jdcamount" ng-required="true" ng-model="fgiftcard.jdcamount" ng-minlength="1" ui-number-mask>
                                        </lx-text-field>
                                        <div ng-messages="AddGiftForm.jdcamount.$error"
                                             ng-if="AddGiftForm.jdcamount.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'giftcard.add.form1.f5error.e1' | translate}}</div>
                                            <div ng-message="minlength">{{'giftcard.add.form1.f5error.e2' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row" ng-show="fgiftcard.jdcardmethod.paybalance">
                                    <div flex-item>
                                        <p class="p+ fs-title display-block" >
                                            Your balance left will be $ {{fgiftcard.jdcardmethod.paybalance - fgiftcard.jdcamount}}
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div flex-item="8">
                <div class="card" >
                    <div class="card__img card__img--top">
                        <img th:src="@{/css/img/Fuelcard_empty.png}"
                             src="/css/img/Fuelcard_empty.png"
                             ng-src="/css/img/Fuelcard_empty.png" />
                        <span class="fs-headline tc-white-1 display-block emboss ccname_text">
                            {{fjdcard.cardname}}</span>
                        <span class="fs-headline tc-white-1 display-block emboss ccname_text">
                            {{fgiftcard.recipient_message}}</span>
                    </div>
                    <div class="p+">
                        <strong class="fs-headline display-block">{{'giftcard.add.card3.title' | translate}}</strong>
                        <div class="paragraph fs-body-1 mt+">
                            <div class="p+ pt0">
                                <div flex-container="row">
                                    <div flex-item>

                                        <lx-text-field
                                                lx-label="{{'giftcard.add.form1.f6' | translate}}"
                                                lx-valid="AddGiftForm.recipient_email.$valid"
                                                lx-error="AddGiftForm.recipient_email.$invalid && AddGiftForm.recipient_email.$touched">
                                            <input type="email" name="recipient_email" ng-model="fgiftcard.recipient_email"  ng-required="true" >
                                        </lx-text-field>
                                        <div ng-messages="AddGiftForm.recipient_email.$error"
                                             ng-if="AddGiftForm.recipient_email.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'giftcard.add.form1.f6error.e1' | translate}}</div>

                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>

                                        <lx-text-field
                                                lx-label="{{'giftcard.add.form1.f7' | translate}}"
                                                lx-valid="AddGiftForm.recipient_name.$valid"
                                                lx-error="AddGiftForm.recipient_name.$invalid && AddGiftForm.recipient_name.$touched">
                                            <input type="name" name="recipient_name" ng-model="fgiftcard.recipient_name"  ng-required="true" >
                                        </lx-text-field>
                                        <div ng-messages="AddGiftForm.recipient_name.$error"
                                             ng-if="AddGiftForm.recipient_name.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'giftcard.add.form1.f7error.e1' | translate}}</div>

                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>

                                        <lx-text-field
                                                lx-label="{{'giftcard.add.form1.f8' | translate}}"
                                                lx-valid="AddGiftForm.recipient_message.$valid"
                                                lx-error="AddGiftForm.recipient_message.$invalid && AddGiftForm.recipient_message.$touched">
                                            <input type="text" name="recipient_message" ng-model="fgiftcard.recipient_message"  ng-required="true" >
                                        </lx-text-field>
                                        <div ng-messages="AddGiftForm.recipient_message.$error"
                                             ng-if="AddGiftForm.recipient_message.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{'giftcard.add.form1.f8error.e1' | translate}}</div>

                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item class="fs-title">
                                        Total $:{{fgiftcard.tdcamount + fgiftcard.jdcamount}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: relative;">
            <lx-progress lx-type="linear" lx-color="teal"
                         ng-if="LinearProgress">
            </lx-progress>
        </div>
        <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">
            <lx-button lx-color="red"
                       ng-click="reset()"
            >{{'giftcard.add.form1.button1' | translate}}</lx-button>
            <lx-button lx-color="green"
                       ng-click="addGiftCard($event, fgiftcard)"
                       ng-disabled="sendbutton || AddGiftForm.$invalid">
                {{'giftcard.add.form1.button2' | translate}}</lx-button>
        </div>
    </form>

</div>