<div class="row" ng-init="updateMenu()">

    <form name="CardCheckForm" novalidate>
        <!--user id: {{user.id}}-->
        <!--fcardcheck:{{fcardcheck}}-->
        <!--{{paymethod}}-->
        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
            <div flex-item="3"></div>
            <div flex-item="10">
                <div class="card__img card__img--top bgc-jd">
                    <img ng-src="{{icon}}" width="100px" class="p+">
                    <p class="fs-headline tc-white-1 display-block" >{{ 'cardcheck.card1.headline' | translate}} J&amp;D Card </p>
                </div>
            </div>
        </div>
        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
            <div flex-item="3"></div>
            <div flex-item="4">
                <span class="fs-title display-block">
                    {{ 'cardcheck.card1.title' | translate}}
                    <lx-radio-group class="mt+">
                    <lx-radio-button name="test2" value="false" ng-model="fcardcheck.switches">
                        <lx-radio-button-label>{{ 'cardcheck.form1.R1title' | translate}}</lx-radio-button-label>
                        <lx-radio-button-help>{{ 'cardcheck.form1.R1subtitle1' | translate}} J&amp;D Card {{ 'cardcheck.form1.R1subtitle2' | translate}}.</lx-radio-button-help>
                    </lx-radio-button>

                    <lx-radio-button name="test2" value="true" ng-model="fcardcheck.switches" ng-if="user.authorities[0].authority=='ROLE_SYSADMIN'"">
                        <lx-radio-button-label>{{ 'cardcheck.form1.R2title' | translate}}</lx-radio-button-label>
                        <lx-radio-button-help>{{ 'cardcheck.form1.R2subtitle1' | translate}} J&amp;D Card {{ 'cardcheck.form1.R2subtitle2' | translate}}</lx-radio-button-help>
                    </lx-radio-button>
                </lx-radio-group>
                </span>

            </div>
            <div flex-item="6">


                <div class="card" >
                    <div class="p+">
                        <div class="card__img card__img--top">
                            <img ng-src="{{cardCheckImg}}" width="100%">
                        </div>
                        <!--<strong class="fs-headline display-block">Escoga una Credit Card</strong>-->
                        <!--1{{paymethod}} 2{{paymethod}}-->
                        <div class="paragraph fs-body-1 mt+">
                            <div class="p+ pt0">
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field
                                                lx-label="J&amp;D Card {{ 'cardcheck.form1.f1' | translate}}"
                                                lx-valid="CardCheckForm.jdcardcode.$valid"
                                                lx-error="CardCheckForm.jdcardcode.$invalid && CardCheckForm.jdcardcode.$touched">
                                            <input type="text" name="jdcardcode" ng-required="true"
                                                   ng-model="fcardcheck.jdcardcode"
                                                    >
                                        </lx-text-field>
                                        <div ng-messages="CardCheckForm.jdcardcode.$error"
                                             ng-if="CardCheckForm.jdcardcode.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">{{ 'cardcheck.form1.f1error.e1' | translate}} J&amp;D Card {{ 'cardcheck.form1.f1error.e2' | translate}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div style="position: relative;">
            <lx-progress lx-type="circular" lx-color="teal"
                         ng-if="LinearProgress">
            </lx-progress>
        </div>
        <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">
            <lx-button lx-color="red"
                       ng-click="reset()"
            >{{ 'cardcheck.form1.button1' | translate}}</lx-button>
            <lx-button lx-color="green"
                       ng-click="CheckCard($event, fcardcheck)"
                       ng-disabled="sendbutton || CardCheckForm.$invalid">
                {{ 'cardcheck.form1.button2' | translate}} J&amp;D Card</lx-button>
        </div>
    </form>

</div>

<!-- DIALOG -->

<section ng-include="'/partials/dashboard/cardcheck/validateDialog.html'"></section>